In [2]:
import pandas as pd
import matplotlib.pyplot as pit
import csv

In [4]:
df = pd.read_csv('./python_da_files/gender.csv',encoding = 'cp949')
df

,행정구역,2019년01월_남_총인구수,2019년01월_남_연령구간인구수,2019년01월_남_0세,2019년01월_남_1세,2019년01월_남_2세,2019년01월_남_3세,2019년01월_남_4세,2019년01월_남_5세,2019년01월_남_6세,...,2019년01월_여_91세,2019년01월_여_92세,2019년01월_여_93세,2019년01월_여_94세,2019년01월_여_95세,2019년01월_여_96세,2019년01월_여_97세,2019년01월_여_98세,2019년01월_여_99세,2019년01월_여_100세 이상
0,서울특별시 (1100000000),4772822,4772822,28081,30844,34060,36368,35835,35620,39304,...,5273,3892,3069,2174,2103,1613,1115,825,607,4405
1,서울특별시 종로구 (1111000000),74700,74700,317,337,392,444,437,423,524,...,113,86,70,53,43,46,34,20,25,158
2,서울특별시 종로구 청운효자동(1111051500),6109,6109,28,40,40,54,53,44,56,...,3,4,9,2,4,3,2,2,2,13
3,서울특별시 종로구 사직동(1111053000),4322,4322,16,31,26,34,34,40,44,...,9,3,8,2,5,6,1,3,2,14
4,서울특별시 종로구 삼청동(1111054000),1333,1333,7,5,2,10,6,4,3,...,4,2,0,2,0,1,0,0,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3835,제주특별자치도 서귀포시 서홍동(5013058000),5239,5239,33,42,56,60,47,72,70,...,1,1,4,0,2,4,3,0,0,2
3836,제주특별자치도 서귀포시 대륜동(5013059000),7114,7114,73,80,102,87,96,86,62,...,13,8,3,0,11,4,2,2,4,5
3837,제주특별자치도 서귀포시 대천동(5013060000),6976,6976,68,85,114,106,89,74,104,...,11,3,3,6,4,2,2,2,2,1
3838,제주특별자치도 서귀포시 중문동(5013061000),5757,5757,38,29,49,48,53,46,57,...,10,3,4,5,6,3,2,0,4,4
3839,제주특별자치도 서귀포시 예래동(5013062000),2115,2115,21,10,18,15,14,11,21,...,4,5,5,1,7,2,1,1,1,5

### 지역 이름과 나이, 성별을 입력 받은 후 해당 인구수를 출력

In [116]:
f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)

gu = input('지역이름을 입력하세요 : ')
sex = input('성별을 입력하세요(남 or 여) : ')
age = int(input('(만)나이를 입력하세요 : '))

for line in data : 
    if '동' == line[0].split('(')[0][-1] :
        if gu in line[0].split(' ')[2] :
            if sex == '남' :
                sum_num = 3
            elif sex == '여':
                sum_num = 106
            num = age + sum_num
            print('{}에 거주하는 {}성의 만 {}세 인구는 {}명 입니다.'.format(line[0],sex,age,line[num]))
            break
    else :
        if gu in line[0]:
            if sex == '남' :
                sum_num = 3
            elif sex == '여':
                sum_num = 106
            num = age + sum_num
            print('{}에 거주하는 {}성의 만 {}세 인구는 {}명 입니다.'.format(line[0],sex,age,line[num]))
            break

지역이름을 입력하세요 : 부산
성별을 입력하세요(남 or 여) : 남
(만)나이를 입력하세요 : 0
부산광역시  (2600000000)에 거주하는 남성의 만 0세 인구는 9306명 입니다.

#### 남성인구수가 가장 많은 동, 여성 인구수가 가장 많은 동 출려

In [102]:
f = open('./python_da_files/gender.csv', 'r')      # 여성은 man_age -> woman_age / 1 -> 105 나머지 동일
data = csv.reader(f)
man_age = []

for line in data : 
    if '동' == line[0].split('(')[0][-1] :
        man_age.append(int(line[1]))

f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)
for line in data : 
    try :
        int(line[1])
    except ValueError :
        continue
    else:
        if int(line[1]) == max(man_age) : 
            print('남성이 가장 많은 동은 {}이며, 인구는 {}명 입니다.'.format(line[0], max(man_age)))

남성이 가장 많은 동은 경상남도 김해시 북부동(4825055000)이며, 인구는 41385명 입니다.

#### 셀정리

In [104]:
f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)
man_age = []

for line in data : 
    if '동' == line[0].split('(')[0][-1] :
        man_age.append(int(line[1]))

f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)
for line in data : 
    try :
        int(line[1])
    except ValueError :
        continue
    else:
        if int(line[1]) == max(man_age) : 
            print('남성이 가장 많은 동은 {}이며, 인구는 {}명 입니다.'.format(line[0], max(man_age)))

f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)
woman_age = []

for line in data : 
    if '동' == line[0].split('(')[0][-1] :
        woman_age.append(int(line[105]))

f = open('./python_da_files/gender.csv', 'r')
data = csv.reader(f)
for line in data : 
    try :
        int(line[105])
    except ValueError :
        continue
    else:
        if int(line[105]) == max(woman_age) : 
            print('여성이 가장 많은 동은 {}이며, 인구는 {}명 입니다.'.format(line[0], max(woman_age)))

남성이 가장 많은 동은 경상남도 김해시 북부동(4825055000)이며, 인구는 41385명 입니다.
여성이 가장 많은 동은 경기도 용인시 기흥구 동백동(4146358500)이며, 인구는 41309명 입니다.