In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries1.csv')
sal

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,49996,Carl Jacobs Sr,Transit Operator,65612.03,15604.45,733.84,37250.65,81950.32,119200.97,2012,NaN,San Francisco,NaN
49996,49996,49997,Yee Lam,Social Work Supervisor,81284.05,0.00,2084.00,35831.69,83368.05,119199.74,2012,NaN,San Francisco,NaN
49997,49997,49998,Fe V Foronda,Licensed Vocational Nurse,68857.08,16740.17,873.92,32725.45,86471.17,119196.62,2012,NaN,San Francisco,NaN
49998,49998,49999,Alison Schlageter,Administrative Analyst,83710.58,0.00,0.00,35478.91,83710.58,119189.49,2012,NaN,San Francisco,NaN
49999,49999,50000,Nicholas Hancock,Senior Administrative Analyst,83785.84,0.00,0.00,35400.78,83785.84,119186.62,2012,NaN,San Francisco,NaN

##### 1. BasePay 평균은?

In [103]:
sal['BasePay'].mean()

75601.13714620461

##### 2. OvertimePay의 최대값은?

In [102]:
sal['OvertimePay'].max()

245131.88

##### 3. 'JOSEPH DRISCOLL'의 직업은?

In [101]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

##### 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?

In [6]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

##### 5. 연도별 BasePay의 평균금액은?

In [7]:
sal.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

##### 6. 'JobTitle'의 종류는?

In [8]:
len(sal.groupby('JobTitle'))

1697

##### 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?

In [109]:
sal.JobTitle.value_counts()  #.value_counts()

TRANSIT OPERATOR                2388
SPECIAL NURSE                   1402
REGISTERED NURSE                1219
Registered Nurse                1003
CUSTODIAN                        796
                                ...
Attorney, Tax Collector            1
MAYORAL STAFF II                   1
SUPPLY ROOM ATTENDENT              1
HEAD AIRPORT ELECTRICIAN           1
Director, Probation Services       1
Name: JobTitle, Length: 1697, dtype: int64

In [107]:
sal.groupby('JobTitle').count().sort_values('Id',ascending = False).head().index   # ascending > sorted와 비슷한 함수

Index(['TRANSIT OPERATOR', 'SPECIAL NURSE', 'REGISTERED NURSE',
       'Registered Nurse', 'CUSTODIAN'],
      dtype='object', name='JobTitle')

    (참고) dict 형태에서 value 기준으로 순서정리
    sorted(dict.items(),key = lambda x : x[1], reverse = True)

In [9]:
#1
Job = sal.groupby('JobTitle')
job_list = [[i[0],len(i[1])] for i in Job]

E_list = [i[1] for i in job_list]
num_list = sorted(E_list,reverse=True)[:5]

for i in job_list :
    for n in num_list:
        if i[1] == n:
            print('직업은 {}, 종사자수 {}'.format(i[0],n))

직업은 CUSTODIAN, 종사자수 796
직업은 REGISTERED NURSE, 종사자수 1219
직업은 Registered Nurse, 종사자수 1003
직업은 SPECIAL NURSE, 종사자수 1402
직업은 TRANSIT OPERATOR, 종사자수 2388

In [96]:
#2
job = sal.groupby('JobTitle')
num = []
for i in job.agg({'Id':'count'}).Id : # jobtitle 횟수
    num.append(i)
sorted(list(zip(num,sorted(sal.JobTitle.unique()))),reverse=True)[:5]

[(2388, 'TRANSIT OPERATOR'),
 (1402, 'SPECIAL NURSE'),
 (1219, 'REGISTERED NURSE'),
 (1003, 'Registered Nurse'),
 (796, 'CUSTODIAN')]

##### 8. 2011년도에 오직 한 사람만 종사하고 있는 JobTitle은?

In [128]:
sal2011 = sal[sal.Year == 2011]
temp = (sal2011.JobTitle.value_counts() ==1)
temp[temp ==True].index

Index(['AUDIOLOGIST', 'DIRECTOR, PROBATION SERVICES', 'STATISTICIAN',
       'CEMENT FINISHER SUPERVISOR II',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES II', 'LOCKSMITH SUPERVISOR I',
       'PUBLIC SAFETY COMMUNICATIONS TECHNICIAN',
       'SUPERVISING PARTS STOREKEEPER',
       'LEGISLATIVE ASSISTANT, CITY ATTORNEY'S OFFICE',
       'POWER PLANT SUPERVISOR I',
       ...
       'AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES',
       'ENVIRONMENT HEALTH TECHNICIAN II', 'DISABILITY ACCESS COORDINATOR',
       'CHIEF PROBATION OFFICER, JUVENILE COURT', 'TRAINING TECHNICIAN',
       'SENIOR TRANSIT TRAFFIC CHECKER', 'COURT AD RESOLUTION COORDINATOR',
       'SHADE AND DRAPERY WORKER', 'METALSMITH',
       'ASSISTANT DIRECTOR, LOG CABIN RANCH'],
      dtype='object', length=200)

In [170]:
sal2011

0        general manager-metropolitan transit authority
1                       captain iii (police department)
2                       captain iii (police department)
3                  wire rope cable maintenance mechanic
4          deputy chief of department,(fire department)
                              ...
36154                swimming instructor/pool lifeguard
36155                                  transit operator
36156        stationary engineer, water treatment plant
36157                                  transit operator
36158                                        manager iv
Name: JobTitle, Length: 36159, dtype: object

In [167]:
len(sal2011.groupby('JobTitle'))

1045

In [173]:
sal2011.JobTitle.value_counts()==1

transit operator                     False
special nurse                        False
registered nurse                     False
custodian                            False
firefighter                          False
                                     ...
senior claims investigator            True
sheriff                               True
chief fire alarm dispatcher           True
audiologist                           True
senior medical transcriber typist     True
Name: JobTitle, Length: 1045, dtype: bool

In [10]:
year = sal[sal['Year']==2011]
Job = year.groupby('JobTitle')
job_list = [[i[0],len(i[1])] for i in Job]

for i in job_list :
    if i[1] ==1 :
        print(i[0])

ACUPUNCTURIST
ADMINISTRATOR, SFGH MEDICAL CENTER
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR
ANIMAL CARE ASSISTANT SUPERVISOR
ANIMAL CARE SUPERVISOR
AREA SUPERVISOR, PARKS, SQUARES AND FACILITIES
ASPHALT PLANT SUPERVISOR I
ASSESSOR
ASSISTANT COURT REPORTER COORDINATOR
ASSISTANT DIRECTOR OF CLINICAL SERVICES I
ASSISTANT DIRECTOR OF CLINICAL SERVICES II
ASSISTANT DIRECTOR, JUVENILE HALL
ASSISTANT DIRECTOR, LOG CABIN RANCH
ASSISTANT INDUSTRIAL HYGIENIST
ASSISTANT INSPECTOR (POLICE DEPARTMENT)
ASSISTANT LAW LIBRARIAN
ASSISTANT RECREATION SUPERVISOR
ASSISTANT SUPERINTENDENT RECREATION
ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS
ASSOCIATE HUMAN RESOURCES ANALYST
ASSOCIATE MUSEUM CONSERVATOR, ASIAN ART MUSEUM
ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION
ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN
ATTORNEY FOR THE PUBLIC ADMINISTRATOR
AUDIOLOGIST
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I
BAKER
BARBER
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC
BRAILLIST
BUILDING SERVICES TECHNICIAN
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE
CARPENTER SUPERVISOR II
CASHIER III
CEMENT FINISHER SUPERVISOR II
CHIEF DISTRICT ATTORNEY'S INVESTIGATOR
CHIEF ELECTRICAL INSPECTOR
CHIEF FIRE ALARM DISPATCHER
CHIEF HOUSING INSPECTOR
CHIEF MICROBIOLOGIST
CHIEF NURSERY SPECIALIST
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
CHIEF OF POLICE
CHIEF PLUMBING INSPECTOR
CHIEF PROBATION OFFICER, JUVENILE COURT
CHIEF TELEPHONE OPERATOR
CHIEF VICTIM/WITNESS INVESTIGATOR
CITY ATTORNEY
CITY PLANNING GRAPHICS SUPERVISOR
COMMUNICATIONS DIRECTOR
CONFIDENTIAL SECRETARY CITY ATTORNEY
CONFIDENTIAL SECRETARY TO DISTRICT ATTORNEY
CONSERVATORSHIP/CASE MGNT SUPV
COURT AD RESOLUTION COORDINATOR
COURT ADMINISTRATIVE SECRETARY
COURT ASSISTANT, SUPERIOR COURT
COURT CLERK
COURT COMPUTER FACILITIES COORDINATOR
COURT EXECUTIVE OFFICER
COURT INTERPRETER SUPERVISOR
COURT PARALEGAL
COURT REPORTER COORDINATOR
COURT SUPERVISOR I
CRANE MECHANIC SUPERVISOR
CRIME LABORATORY MANAGER
DEPUTY DIRECTOR OF INVESTMENTS
DEPUTY SEALER OF WEIGHTS AND MEASURES
DIRECTOR, EMPLOYEE RELATIONS DIVISION
DIRECTOR, FISCAL SERVICES
DIRECTOR, HUMAN RESOURCES
DIRECTOR, INFORMATION TECHNOLOGY GROUP
DIRECTOR, JUVENILE HALL
DIRECTOR, PROBATION SERVICES
DISABILITY ACCESS COORDINATOR
ELECTRIC MOTOR REPAIR SUPERVISOR I
ELECTRICAL ENGINEERING ASSOCIATE I
ELECTROENCEPHALOGRAPH TECHNICIAN I
EMERGENCY PROTECTIVE ORDERS COMMISSIONER
EMPLOYEE ASSISTANCE COUNSELOR
EMPLOYMENT AND TRAINING SPECIALIST VI
ENVIRONMENT HEALTH TECHNICIAN II
EXECUTIVE ASSISTANT TO THE GENERAL MANAGER, RETIRE
EXECUTIVE DIRECTOR, SOUTHEAST COMMUNITY FACILITY
EXECUTIVE SECRETARY TO THE CONTROLLER
FARMER
FEASIBILITY ANALYST, PORT
FIELD SERVICES ASSISTANT SUPERVISOR
FORENSIC TOXICOLOGIST
GLAZIER SUPERVISOR I
HEAD AIRPORT ELECTRICIAN
HEAD PHOTOGRAPHER
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR
HUMAN RESOURCES DIRECTOR
INSTITUTIONAL POLICE LIEUTENANT
IS TECHNICIAN - ASSISTANT
IS TRAINER - SENIOR
LABORATORY HELPER
LAW LIBRARIAN
LEGISLATION CLERK
LEGISLATIVE ASSISTANT, CITY ATTORNEY'S OFFICE
LEGISLATIVE CALENDAR CLERK
LIBRARIAN II - ASIAN ARTS
LIEUTENANT I, (POLICE DEPARTMENT)
LIEUTENANT II (POLICE DEPARTMENT)
LOCKSMITH SUPERVISOR I
MANAGER, UNIFIED FAMILY COURT SERVICES
MARKET RESEARCH SPECIALISTS, PORT
MATERIALS AND SUPPLIES SUPERVISOR
MAYOR'S PROGRAM MANAGER
MAYORAL STAFF II
MAYORAL STAFF V
MAYORAL STAFF XI
MEDIA PRODUCTION SUPERVISOR
MEDIA TRAINING SPECIALIST
MEDIA/SECURITY SYSTEMS SUPERVISOR
MENTAL HEALTH HEARING OFFICER
METAL FABRICATOR
METALSMITH
MOBILE EQUIPMENT SUPERVISOR
MUNICIPAL STADIUM GROUNDSKEEPER
ORNAMENTAL IRON WORKER SUPERVISOR I
ORTHOPEDIC TECHNICIAN I
ORTHOPEDIC TECHNICIAN II
PAINTER SUPERVISOR II
PIANIST
PORT DIRECTOR
POWER GENERATION TECHNICIAN I
POWER HOUSE ELECTRICIAN SUPERVISOR I
POWER PLANT SUPERVISOR I
POWERHOUSE ELECTRICIAN SUPERVISOR II
PRINCIPAL INVESTIGATOR, TAX COLLECTOR
PRINCIPAL MUSEUM PREPARATOR
PRINCIPAL RECREATION SUPERVISOR
PUBLIC DEFENDER
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN
RENT BOARD SUPERVISOR
ROOFER SUPERVISOR I
SECRETARY TO THE PRESIDING JUDGE
SECRETARY, COMMISSION ON THE ENVIRONMENT
SECRETARY, HEALTH COMMISSION
SECRETARY, HUMAN SERVICES COMMISSION
SECRETARY, LIBRARY COMMISSION
SECRETARY,JUVENILE PROBATION COMMISSION
SENIOR BOOK REPAIRER
SENIOR CLAIMS INVESTIGATOR
SENIOR DATA ENTRY OPERATOR
SENIOR EMPLOYEE ASSISTANCE COUNSELOR
SENIOR FOOD SERVICE SUPERVISOR
SENIOR GENERAL UTILITY MECHANIC
SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER
SENIOR MAINTENANCE CONTROLLER
SENIOR MATERIALS AND SUPPLIES SUPERVISOR
SENIOR MEDICAL TRANSCRIBER TYPIST
SENIOR MORGUE ATTENDANT
SENIOR OFFSET MACHINE OPERATOR
SENIOR OPERATIONS MANAGER
SENIOR PHARMACY HELPER
SENIOR PLAN CHECKER
SENIOR PSYCHIATRIC ORDERLY
SENIOR SUPERVISING PROBATION OFFICER, JUVENILE POU
SENIOR TRANSIT TRAFFIC CHECKER
SHADE AND DRAPERY WORKER
SHELTER OFFICE ASSISTANT SUPERVISOR
SHELTER OFFICE SUPERVISOR
SHERIFF
SIGNAL AND SYSTEMS ENGINEER
SOFT FLOOR COVERER SUPERVISOR
SPECIAL ASSISTANT XIV
SPECIAL ASSISTANT XV
SPECIAL ASSISTANT XVI
SPECIAL ASSISTANT XVIII
STATISTICIAN
SUPERVISING COURT ADMINISTRATIVE SECRETARY
SUPERVISING PARTS STOREKEEPER
SUPERVISING WELFARE FRAUD INVESTIGATOR
SUPPLY ROOM ATTENDENT
TELECOMMUNICATIONS TECHNICIAN SUPERVISOR
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY
TRAF SIGNAL ELECTRICIAN SUP I
TRAF SIGNAL ELECTRICIAN SUP II
TRAFFIC HEARING OFFICER
TRAFFIC SIGN MANAGER
TRAFFIC SIGNAL OPERATOR
TRAINING COORDINATOR
TRAINING TECHNICIAN
TRANSIT PAINT SHOP SUPERVISOR I
TRANSIT POWER LINE WORKER SUPERVISOR II
TREASURER
TREE TOPPER SUPERVISOR II
TRIAL DELAY REDUCTION COORDINATOR
VETERNIARY LABORATORY TECHNOLOGIST
VICTIM & WITNESS TECHNICIAN
WAREHOUSE WORKER
WHARFINGER I
WINDOW CLEANER SUPERVISOR
WIRE ROPE CABLE MAINTENANCE SUPERVISOR
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS
ZOO CURATOR

##### 9. 'Chief'라는 직업을 가진 사람의 수는?

In [136]:
chief_count = 0
for i in sal.JobTitle:
    if 'chief' in i.lower():
        chief_count += 1
chief_count

318

In [155]:
sal['JobTitle'] = sal['JobTitle'].apply(lambda x : x.lower())

In [162]:
# jobtitle을 따로 만드셨나?

sum(sal['JobTitle'].str.contains('Chief').values)

0

In [134]:
# Cheif 를 포함하지 않음
job = sal.groupby('JobTitle')
job_list = [[i[0],len(i[1])] for i in job if 'CHIEF' in i[0]]
num_chief = 0
for i in job_list:
    num_chief += i[1]
num_chief

204