In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus']= False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [20]:
df = pd.read_excel('./data/수정_월간_매매가격지수_종합.xlsx',skiprows=2)

In [21]:
df.head(10)

,지 역,Unnamed: 1,Unnamed: 2,Unnamed: 3,2013년 01월,Unnamed: 5,2013년 04월,Unnamed: 7,2013년 07월,Unnamed: 9,...,2019년 10월,Unnamed: 59,2020년 01월,Unnamed: 61,2020년 04월,Unnamed: 63,2020년 07월,Unnamed: 65,2020년 10월,Unnamed: 67
0,NaN,NaN,NaN,NaN,지수,변동률,지수,변동률,지수,변동률,...,지수,변동률,지수,변동률,지수,변동률,지수,변동률,지수,변동률
1,전국,NaN,NaN,NaN,92.526,-0.26,92.403,0.12,92.53,-0.07,...,100.282,0.12,101.133,0.28,102.301,0.27,103.491,0.61,104.752,0.32
2,수도권,NaN,NaN,NaN,91.814,-0.54,91.28,0,91.052,-0.3,...,103.038,0.27,104.452,0.39,106.5,0.51,108.163,0.81,109.524,0.3
3,지방권,NaN,NaN,NaN,93.152,0.01,93.419,0.23,93.885,0.14,...,97.847,-0.02,98.212,0.17,98.629,0.05,99.418,0.44,100.593,0.34
4,6대광역시,NaN,NaN,NaN,90.586,-0.12,90.641,0.27,91.061,0.12,...,100.28,0.17,101.339,0.35,102.595,0.32,103.756,0.45,105.2,0.47
5,5대광역시,NaN,NaN,NaN,89.693,0.05,89.978,0.3,90.558,0.2,...,100.176,0.18,101.3,0.39,101.996,0.1,102.938,0.45,104.612,0.55
6,9개도,NaN,NaN,NaN,94.112,-0.25,93.954,0.07,94.133,-0.05,...,98.3,-0.01,98.753,0.2,100.048,0.32,101.27,0.6,102.391,0.28
7,8개도,NaN,NaN,NaN,95.559,-0.03,95.797,0.17,96.179,0.1,...,96.298,-0.16,96.141,-0.02,96.235,-0.01,96.783,0.32,97.407,0.18
8,서울,NaN,NaN,NaN,90.656,-0.51,90.344,0.04,89.878,-0.43,...,106.73,0.44,108.547,0.34,108.831,-0.02,109.655,0.71,110.597,0.16
9,종로구,NaN,NaN,NaN,94.265,0,94.352,0.12,93.925,-0.15,...,106.676,0.24,107.782,0.29,108.115,0,108.595,0.37,109.371,0.18

In [22]:
df.drop(columns = ['Unnamed: 1','Unnamed: 2','Unnamed: 3'],axis=1, inplace=True)

In [23]:
df.head(10)

,지 역,2013년 01월,Unnamed: 5,2013년 04월,Unnamed: 7,2013년 07월,Unnamed: 9,2013년 10월,Unnamed: 11,2014년 01월,...,2019년 10월,Unnamed: 59,2020년 01월,Unnamed: 61,2020년 04월,Unnamed: 63,2020년 07월,Unnamed: 65,2020년 10월,Unnamed: 67
0,NaN,지수,변동률,지수,변동률,지수,변동률,지수,변동률,지수,...,지수,변동률,지수,변동률,지수,변동률,지수,변동률,지수,변동률
1,전국,92.526,-0.26,92.403,0.12,92.53,-0.07,92.717,0.29,93.268,...,100.282,0.12,101.133,0.28,102.301,0.27,103.491,0.61,104.752,0.32
2,수도권,91.814,-0.54,91.28,0,91.052,-0.3,91.091,0.33,91.454,...,103.038,0.27,104.452,0.39,106.5,0.51,108.163,0.81,109.524,0.3
3,지방권,93.152,0.01,93.419,0.23,93.885,0.14,94.215,0.25,94.948,...,97.847,-0.02,98.212,0.17,98.629,0.05,99.418,0.44,100.593,0.34
4,6대광역시,90.586,-0.12,90.641,0.27,91.061,0.12,91.388,0.3,92.152,...,100.28,0.17,101.339,0.35,102.595,0.32,103.756,0.45,105.2,0.47
5,5대광역시,89.693,0.05,89.978,0.3,90.558,0.2,90.926,0.29,91.787,...,100.176,0.18,101.3,0.39,101.996,0.1,102.938,0.45,104.612,0.55
6,9개도,94.112,-0.25,93.954,0.07,94.133,-0.05,94.34,0.26,94.894,...,98.3,-0.01,98.753,0.2,100.048,0.32,101.27,0.6,102.391,0.28
7,8개도,95.559,-0.03,95.797,0.17,96.179,0.1,96.486,0.22,97.13,...,96.298,-0.16,96.141,-0.02,96.235,-0.01,96.783,0.32,97.407,0.18
8,서울,90.656,-0.51,90.344,0.04,89.878,-0.43,89.808,0.33,90.042,...,106.73,0.44,108.547,0.34,108.831,-0.02,109.655,0.71,110.597,0.16
9,종로구,94.265,0,94.352,0.12,93.925,-0.15,93.843,0.17,93.905,...,106.676,0.24,107.782,0.29,108.115,0,108.595,0.37,109.371,0.18

In [24]:
df.drop([0], inplace=True)

In [25]:
df.head()

,지 역,2013년 01월,Unnamed: 5,2013년 04월,Unnamed: 7,2013년 07월,Unnamed: 9,2013년 10월,Unnamed: 11,2014년 01월,...,2019년 10월,Unnamed: 59,2020년 01월,Unnamed: 61,2020년 04월,Unnamed: 63,2020년 07월,Unnamed: 65,2020년 10월,Unnamed: 67
1,전국,92.526,-0.26,92.403,0.12,92.53,-0.07,92.717,0.29,93.268,...,100.282,0.12,101.133,0.28,102.301,0.27,103.491,0.61,104.752,0.32
2,수도권,91.814,-0.54,91.28,0,91.052,-0.3,91.091,0.33,91.454,...,103.038,0.27,104.452,0.39,106.5,0.51,108.163,0.81,109.524,0.3
3,지방권,93.152,0.01,93.419,0.23,93.885,0.14,94.215,0.25,94.948,...,97.847,-0.02,98.212,0.17,98.629,0.05,99.418,0.44,100.593,0.34
4,6대광역시,90.586,-0.12,90.641,0.27,91.061,0.12,91.388,0.3,92.152,...,100.28,0.17,101.339,0.35,102.595,0.32,103.756,0.45,105.2,0.47
5,5대광역시,89.693,0.05,89.978,0.3,90.558,0.2,90.926,0.29,91.787,...,100.176,0.18,101.3,0.39,101.996,0.1,102.938,0.45,104.612,0.55

In [26]:
df.set_index('지 역',inplace =True)

In [27]:
df.head()

,2013년 01월,Unnamed: 5,2013년 04월,Unnamed: 7,2013년 07월,Unnamed: 9,2013년 10월,Unnamed: 11,2014년 01월,Unnamed: 13,...,2019년 10월,Unnamed: 59,2020년 01월,Unnamed: 61,2020년 04월,Unnamed: 63,2020년 07월,Unnamed: 65,2020년 10월,Unnamed: 67
지 역,,,,,,,,,,,,,,,,,,,,,
전국,92.526,-0.26,92.403,0.12,92.53,-0.07,92.717,0.29,93.268,0.24,...,100.282,0.12,101.133,0.28,102.301,0.27,103.491,0.61,104.752,0.32
수도권,91.814,-0.54,91.28,0,91.052,-0.3,91.091,0.33,91.454,0.2,...,103.038,0.27,104.452,0.39,106.5,0.51,108.163,0.81,109.524,0.3
지방권,93.152,0.01,93.419,0.23,93.885,0.14,94.215,0.25,94.948,0.28,...,97.847,-0.02,98.212,0.17,98.629,0.05,99.418,0.44,100.593,0.34
6대광역시,90.586,-0.12,90.641,0.27,91.061,0.12,91.388,0.3,92.152,0.27,...,100.28,0.17,101.339,0.35,102.595,0.32,103.756,0.45,105.2,0.47
5대광역시,89.693,0.05,89.978,0.3,90.558,0.2,90.926,0.29,91.787,0.33,...,100.176,0.18,101.3,0.39,101.996,0.1,102.938,0.45,104.612,0.55

In [28]:
len(df.columns)

64

In [29]:
df = df.iloc[:, 0::2]

In [30]:
df.head(20)

,2013년 01월,2013년 04월,2013년 07월,2013년 10월,2014년 01월,2014년 04월,2014년 07월,2014년 10월,2015년 01월,2015년 04월,...,2018년 07월,2018년 10월,2019년 01월,2019년 04월,2019년 07월,2019년 10월,2020년 01월,2020년 04월,2020년 07월,2020년 10월
지 역,,,,,,,,,,,,,,,,,,,,,
전국,92.526,92.403,92.53,92.717,93.268,93.734,93.804,94.342,94.773,95.662,...,100.567,101.094,101.067,100.579,100.199,100.282,101.133,102.301,103.491,104.752
수도권,91.814,91.28,91.052,91.091,91.454,91.934,91.8,92.403,92.734,93.828,...,101.859,103.247,103.423,102.864,102.57,103.038,104.452,106.5,108.163,109.524
지방권,93.152,93.419,93.885,94.215,94.948,95.4,95.665,96.137,96.666,97.355,...,99.41,99.181,98.978,98.552,98.097,97.847,98.212,98.629,99.418,100.593
6대광역시,90.586,90.641,91.061,91.388,92.152,92.701,92.962,93.531,94.11,95.141,...,100.038,100.188,100.441,100.208,100.024,100.28,101.339,102.595,103.756,105.2
5대광역시,89.693,89.978,90.558,90.926,91.787,92.33,92.66,93.257,93.923,94.972,...,100.023,100.22,100.376,100.12,99.904,100.176,101.3,101.996,102.938,104.612
9개도,94.112,93.954,94.133,94.34,94.894,95.341,95.403,95.942,96.396,97.186,...,99.704,99.812,99.625,99.06,98.504,98.3,98.753,100.048,101.27,102.391
8개도,95.559,95.797,96.179,96.486,97.13,97.521,97.748,98.139,98.58,99.029,...,98.969,98.453,98.007,97.481,96.884,96.298,96.141,96.235,96.783,97.407
서울,90.656,90.344,89.878,89.808,90.042,90.444,90.273,90.764,90.93,91.909,...,104.085,106.588,106.63,106.011,105.932,106.73,108.547,108.831,109.655,110.597
종로구,94.265,94.352,93.925,93.843,93.905,94.018,93.996,94.129,94.176,94.542,...,103.333,105.223,106.181,106.143,106.144,106.676,107.782,108.115,108.595,109.371
중구,92.145,92,91.734,91.59,91.902,92.132,92.303,92.678,93.102,93.926,...,104.705,107.486,108.351,108.002,107.996,109.004,110.009,110.272,110.901,111.806
용산구,96.167,95.189,94.307,93.615,93.238,92.857,92.716,92.836,92.875,93.166,...,105.849,109.208,109.652,109.343,109.439,110.37,111.966,112.448,113.143,114.068
성동구,90.222,88.776,89.173,88.783,89.333,90.093,89.892,89.931,89.986,91.151,...,105.848,108.666,109.255,108.593,108,109.114,110.843,111.25,112.26,113.387
광진구,92.92,93.324,91.326,89.644,90.673,91.509,91.182,91.331,91.619,92.783,...,103.997,105.06,105.653,105.589,105.665,106.518,107.778,108.044,108.69,109.809
동대문구,91.502,90.591,90.311,89.909,90.29,90.689,90.569,90.78,90.896,91.83,...,103.119,105.647,106.123,105.765,105.703,106.378,107.7,108.38,109.511,110.708
중랑구,93.484,93.604,93.526,94.227,94.413,94.687,94.564,94.691,94.938,95.176,...,102.394,103.926,104.367,104.312,104.284,104.762,105.613,106.246,106.958,108.112
성북구,94.41,93.465,92.782,92.58,92.792,93.054,92.934,93.284,93.416,93.831,...,104.234,106.687,107.443,107.276,107.19,107.853,109.029,109.483,110.307,111.512
강북구,97.002,96.133,95.765,95.353,95.387,95.496,95.251,95.32,95.342,95.54,...,102.146,104.29,104.982,104.858,104.872,105.479,106.549,107.312,108.338,109.391
도봉구,93.868,92.303,91.436,91.394,92.17,92.706,92.589,92.852,92.967,93.414,...,101.633,103.933,104.302,103.768,103.658,104.336,105.175,105.899,106.943,107.906
노원구,86.768,86.495,86.329,85.756,86.121,87.381,87.168,87.807,88.128,90.197,...,101.172,103.747,103.661,102.921,102.899,103.65,104.971,106.045,107.525,108.814
은평구,94.125,93.087,93.019,92.946,92.939,93.204,93.2,93.677,93.787,94.274,...,102.406,104.728,105.118,104.966,104.962,105.35,106.31,106.674,107.157,108.142

In [31]:
df_seoul = df.loc['서울':'강동구',:]
df_seoul.head()

,2013년 01월,2013년 04월,2013년 07월,2013년 10월,2014년 01월,2014년 04월,2014년 07월,2014년 10월,2015년 01월,2015년 04월,...,2018년 07월,2018년 10월,2019년 01월,2019년 04월,2019년 07월,2019년 10월,2020년 01월,2020년 04월,2020년 07월,2020년 10월
지 역,,,,,,,,,,,,,,,,,,,,,
서울,90.656,90.344,89.878,89.808,90.042,90.444,90.273,90.764,90.93,91.909,...,104.085,106.588,106.63,106.011,105.932,106.73,108.547,108.831,109.655,110.597
종로구,94.265,94.352,93.925,93.843,93.905,94.018,93.996,94.129,94.176,94.542,...,103.333,105.223,106.181,106.143,106.144,106.676,107.782,108.115,108.595,109.371
중구,92.145,92,91.734,91.59,91.902,92.132,92.303,92.678,93.102,93.926,...,104.705,107.486,108.351,108.002,107.996,109.004,110.009,110.272,110.901,111.806
용산구,96.167,95.189,94.307,93.615,93.238,92.857,92.716,92.836,92.875,93.166,...,105.849,109.208,109.652,109.343,109.439,110.37,111.966,112.448,113.143,114.068
성동구,90.222,88.776,89.173,88.783,89.333,90.093,89.892,89.931,89.986,91.151,...,105.848,108.666,109.255,108.593,108,109.114,110.843,111.25,112.26,113.387

In [32]:
from datetime import datetime

In [33]:
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 서울 to 강동구
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   2013년 01월  26 non-null     object
 1   2013년 04월  26 non-null     object
 2   2013년 07월  26 non-null     object
 3   2013년 10월  26 non-null     object
 4   2014년 01월  26 non-null     object
 5   2014년 04월  26 non-null     object
 6   2014년 07월  26 non-null     object
 7   2014년 10월  26 non-null     object
 8   2015년 01월  26 non-null     object
 9   2015년 04월  26 non-null     object
 10  2015년 07월  26 non-null     object
 11  2015년 10월  26 non-null     object
 12  2016년 01월  26 non-null     object
 13  2016년 04월  26 non-null     object
 14  2016년 07월  26 non-null     object
 15  2016년 10월  26 non-null     object
 16  2017년 01월  26 non-null     object
 17  2017년 04월  26 non-null     object
 18  2017년 07월  26 non-null     object
 19  2017년 10월  26 non-null     object
 20  2018년 01월  26 non-null     object
 21  2018년 04월  26 non-null     object
 22  2018년 07월  26 non-null     object
 23  2018년 10월  26 non-null     object
 24  2019년 01월  26 non-null     object
 25  2019년 04월  26 non-null     object
 26  2019년 07월  26 non-null     object
 27  2019년 10월  26 non-null     object
 28  2020년 01월  26 non-null     object
 29  2020년 04월  26 non-null     object
 30  2020년 07월  26 non-null     object
 31  2020년 10월  26 non-null     object
dtypes: object(32)
memory usage: 6.7+ KB

In [34]:
col = df.columns

In [35]:
from dateutil.parser import parse

In [55]:
col

"Index(['2013년 01월', '2013년 04월', '2013년 07월', '2013년 10월', '2014년 01월',\n       '2014년 04월', '2014년 07월', '2014년 10월', '2015년 01월', '2015년 04월',\n       '2015년 07월', '2015년 10월', '2016년 01월', '2016년 04월', '2016년 07월',\n       '2016년 10월', '2017년 01월', '2017년 04월', '2017년 07월', '2017년 10월',\n       '2018년 01월', '2018년 04월', '2018년 07월', '2018년 10월', '2019년 01월',\n       '2019년 04월', '2019년 07월', '2019년 10월', '2020년 01월', '2020년 04월',\n       '2020년 07월', '2020년 10월'],\n      dtype='object')"

In [59]:
li = ['2013년 01월', '2013년 04월', '2013년 07월','2013년 10월','2014년 01월','2014년 04월', '2014년 07월', '2014년 10월', '2015년 01월', '2015년 04월', '2015년 07월', '2015년 10월', '2016년 01월', '2016년 04월', '2016년 07월',  '2016년 10월', '2017년 01월', '2017년 04월', '2017년 07월', '2017년 10월',   '2018년 01월', '2018년 04월', '2018년 07월', '2018년 10월', '2019년 01월',   '2019년 04월', '2019년 07월', '2019년 10월', '2020년 01월', '2020년 04월', '2020년 07월', '2020년 10월']
li

['2013년 01월',
 '2013년 04월',
 '2013년 07월',
 '2013년 10월',
 '2014년 01월',
 '2014년 04월',
 '2014년 07월',
 '2014년 10월',
 '2015년 01월',
 '2015년 04월',
 '2015년 07월',
 '2015년 10월',
 '2016년 01월',
 '2016년 04월',
 '2016년 07월',
 '2016년 10월',
 '2017년 01월',
 '2017년 04월',
 '2017년 07월',
 '2017년 10월',
 '2018년 01월',
 '2018년 04월',
 '2018년 07월',
 '2018년 10월',
 '2019년 01월',
 '2019년 04월',
 '2019년 07월',
 '2019년 10월',
 '2020년 01월',
 '2020년 04월',
 '2020년 07월',
 '2020년 10월']

In [47]:
datetime.strptime('2013년 01월','%Y년 %m월')

datetime.datetime(2013, 1, 1, 0, 0)

In [60]:
new_c = []
for i in li : 
    ti = datetime.strptime(i,'%Y년 %m월')
    new_c.append(ti)

In [62]:
new_c

[datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 4, 1, 0, 0),
 datetime.datetime(2013, 7, 1, 0, 0),
 datetime.datetime(2013, 10, 1, 0, 0),
 datetime.datetime(2014, 1, 1, 0, 0),
 datetime.datetime(2014, 4, 1, 0, 0),
 datetime.datetime(2014, 7, 1, 0, 0),
 datetime.datetime(2014, 10, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 4, 1, 0, 0),
 datetime.datetime(2015, 7, 1, 0, 0),
 datetime.datetime(2015, 10, 1, 0, 0),
 datetime.datetime(2016, 1, 1, 0, 0),
 datetime.datetime(2016, 4, 1, 0, 0),
 datetime.datetime(2016, 7, 1, 0, 0),
 datetime.datetime(2016, 10, 1, 0, 0),
 datetime.datetime(2017, 1, 1, 0, 0),
 datetime.datetime(2017, 4, 1, 0, 0),
 datetime.datetime(2017, 7, 1, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0),
 datetime.datetime(2018, 1, 1, 0, 0),
 datetime.datetime(2018, 4, 1, 0, 0),
 datetime.datetime(2018, 7, 1, 0, 0),
 datetime.datetime(2018, 10, 1, 0, 0),
 datetime.datetime(2019, 1, 1, 0, 0),
 datetime.datetime(2019, 4, 1, 0, 0),
 datetime.datetime(2019, 7, 1, 0, 0),
 datetime.datetime(2019, 10, 1, 0, 0),
 datetime.datetime(2020, 1, 1, 0, 0),
 datetime.datetime(2020, 4, 1, 0, 0),
 datetime.datetime(2020, 7, 1, 0, 0),
 datetime.datetime(2020, 10, 1, 0, 0)]