In [218]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster

In [219]:
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus']= False
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [6]:
df고등학교 = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울대출신고등학교수정1.xlsx',index_col=0)
df고등학교.head(1)

,학교명,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),...,2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시),위도,경도,주소,"시,구"
0,외대부고등학교,69,39,30,73.0,36.0,37.0,55,24,31,...,92,34.0,58.0,45.0,20.0,25.0,37.330141,127.253816,경기도 용인시 처인구 모현면 왕산리 232,용인시

In [ ]:
df고등학교

In [222]:
df부동산 = pd.read_excel('D:\\BigData\\project\\High_school\\data\\부동산.xlsx',index_col=0).T
df부동산_1.iloc[:,[0, 4, 8, 12, 16, 20, 24, 28]].columns=[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

Index(['지 역', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object')

In [43]:
df부동산_1분기 = df부동산_1분기.iloc[1:]

In [71]:
in_list = []
for i in range(2013,2021) :
    in_list.append(str(i)+'부동산')

In [69]:
df부동산_1분기.columns=in_list

In [91]:
df부동산_1분기   # 1분기기준 완료

     2013부동산 2014부동산 2015부동산 2016부동산 2017부동산  2018부동산  2019부동산  2020부동산
종로구   94.265  93.905  94.176  96.203  97.661  100.686  106.181  107.782
중구    92.145  91.902  93.102  95.724  97.129  100.863  108.351  110.009
용산구   96.167  93.238  92.875  94.773  96.812  101.289  109.652  111.966
성동구   90.222  89.333  89.986  95.127  96.649  102.542  109.255  110.843
광진구    92.92  90.673  91.619  96.171  97.387    101.8  105.653  107.778
동대문구  91.502   90.29  90.896  96.266  97.732   100.54  106.123    107.7
중랑구   93.484  94.413  94.938  97.498  98.399  100.548  104.367  105.613
성북구    94.41  92.792  93.416  96.379  98.083  100.708  107.443  109.029
강북구   97.002  95.387  95.342  97.714  98.834  100.547  104.982  106.549
도봉구   93.868   92.17  92.967  96.752  98.131  100.424  104.302  105.175
노원구   86.768  86.121  88.128  94.642  97.049  100.364  103.661  104.971
은평구   94.125  92.939  93.787  96.197  97.881  100.427  105.118   106.31
서대문구  93.742  92.543  93.109  95.739  97.729  100.544  106.186  107.754
마포구   90.328  90.376  91.805  94.502  96.713  101.242  110.012  112.679
양천구   91.338  89.699  90.441  94.438  96.807  102.878  106.958  109.288
강서구   90.528  90.049  89.392  93.919  96.682  100.519  106.165    107.2
구로구   90.351  89.914  90.123  95.484  97.387   100.64  105.123  106.801
금천구   93.665  92.713  92.965  95.889  97.298  100.251   103.49  105.201
영등포구  89.634  88.474  89.769  94.028  96.217  101.293  108.494  111.189
동작구   88.575  89.715  91.294  94.585  96.536  101.069  107.916  110.353
관악구   91.448  92.201  92.344  95.257  97.376   100.33  103.683   105.02
서초구    88.64  87.662  89.035  94.684  97.156  102.904  107.843  110.205
강남구   82.802  83.265  85.518   91.71   95.89  104.113  108.337  111.917
송파구    89.72  89.863  90.536  94.418  95.645  103.989   108.15  111.632
강동구   86.659  86.649  88.394  94.437  96.587  102.258  109.645  110.712

In [168]:
df학원기본 = pd.read_excel('D:\\BigData\\project\\High_school\\data\\학원수(종합).xlsx',index_col=0)
df학원기본

    자치구       구분   사업체수    종사자수    년도
0   서울시  교육 서비스업  32240  313846  2013
1   종로구  교육 서비스업    866   12325  2013
2    중구  교육 서비스업    510    7644  2013
3   용산구  교육 서비스업    509    7631  2013
4   성동구  교육 서비스업    745   10030  2013
..  ...      ...    ...     ...   ...
21  관악구  교육 서비스업   1191   16210  2018
22  서초구  교육 서비스업   2615   21404  2018
23  강남구  교육 서비스업   3838   29182  2018
24  송파구  교육 서비스업   2340   18609  2018
25  강동구  교육 서비스업   1490   10844  2018

[156 rows x 5 columns]

In [176]:
df학원_2013 = df학원기본[df학원기본.년도 == 2013].iloc[:,0:4].iloc[:,[0,2,3]]
df학원_2013.columns=['자치구','2013사업체수','2013종사자수']

In [177]:
df학원_2013

     자치구  2013사업체수  2013종사자수
0    서울시     32240    313846
1    종로구       866     12325
2     중구       510      7644
3    용산구       509      7631
4    성동구       745     10030
5    광진구      1132     12597
6   동대문구       925     14743
7    중랑구       898      7620
8    성북구      1304     22343
9    강북구       701      5886
10   도봉구       975      7358
11   노원구      1810     19966
12   은평구      1402      9994
13  서대문구      1023     14852
14   마포구      1400     14959
15   양천구      2215     13971
16   강서구      1547     11493
17   구로구      1096      9566
18   금천구       606      5176
19  영등포구      1183      8507
20   동작구      1181     12443
21   관악구      1217     13967
22   서초구      2147     18102
23   강남구      3179     25131
24   송파구      2162     17155
25   강동구      1507     10387

In [178]:
df학원_dict = {}
for i in range(2013,2019):
    df학원_dict[i] = df학원기본[df학원기본.년도==i].iloc[:,0:4].iloc[:,[0,2,3]]
    df학원_dict[i].columns = (['자치구',str(i)+'사업체수',str(i)+'종사자수'])

In [179]:
df학원_dict[2014]

     자치구  2014사업체수  2014종사자수
0    서울시     33288    318984
1    종로구       885     12303
2     중구       516      8270
3    용산구       527      7202
4    성동구       760      9885
5    광진구      1114     12507
6   동대문구       934     14877
7    중랑구       926      7838
8    성북구      1304     21230
9    강북구       709      5813
10   도봉구       958      7279
11   노원구      1835     20437
12   은평구      1433     10178
13  서대문구      1008     15677
14   마포구      1505     14402
15   양천구      2245     14467
16   강서구      1568     12020
17   구로구      1159      9739
18   금천구       624      5203
19  영등포구      1277      9181
20   동작구      1186     12770
21   관악구      1252     14117
22   서초구      2338     18415
23   강남구      3584     27451
24   송파구      2140     17033
25   강동구      1501     10690

In [180]:
df학원_list = []
for i in range(2013,2019):
    df학원_list.append(df학원_dict[i])

In [183]:
df학원기준=pd.concat(df학원_list,axis=1)

In [166]:
df학원

,2013사업체수,20132013종사자수,2014사업체수,20142013종사자수,2015사업체수,20152013종사자수,2016사업체수,20162013종사자수,2017사업체수,20172013종사자수,2018사업체수,20182013종사자수
자치구,,,,,,,,,,,,
서울시,32240.0,313846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
종로구,866.0,12325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중구,510.0,7644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
용산구,509.0,7631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성동구,745.0,10030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.0,16210.0
서초구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2615.0,21404.0
강남구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838.0,29182.0
송파구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2340.0,18609.0
강동구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.0,10844.0

In [90]:
df학원_dict[2013]

      2013사업체수  20132013종사자수
자치구
서울시      32240        313846
종로구        866         12325
중구         510          7644
용산구        509          7631
성동구        745         10030
광진구       1132         12597
동대문구       925         14743
중랑구        898          7620
성북구       1304         22343
강북구        701          5886
도봉구        975          7358
노원구       1810         19966
은평구       1402          9994
서대문구      1023         14852
마포구       1400         14959
양천구       2215         13971
강서구       1547         11493
구로구       1096          9566
금천구        606          5176
영등포구      1183          8507
동작구       1181         12443
관악구       1217         13967
서초구       2147         18102
강남구       3179         25131
송파구       2162         17155
강동구       1507         10387

In [95]:
학원_list = []
for i in range(2013,2019):
    학원_list.append(df학원_dict[i])

In [161]:
df학원 = pd.concat(학원_list)

In [163]:
df학원

,2013사업체수,20132013종사자수,2014사업체수,20142013종사자수,2015사업체수,20152013종사자수,2016사업체수,20162013종사자수,2017사업체수,20172013종사자수,2018사업체수,20182013종사자수
자치구,,,,,,,,,,,,
서울시,32240.0,313846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
종로구,866.0,12325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중구,510.0,7644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
용산구,509.0,7631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성동구,745.0,10030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.0,16210.0
서초구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2615.0,21404.0
강남구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838.0,29182.0
송파구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2340.0,18609.0
강동구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.0,10844.0

In [164]:
df고등학교

,학교명,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),...,2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시),위도,경도,주소,"시,구"
0,외대부고등학교,69,39,30,73.0,36.0,37.0,55,24,31,...,92,34.0,58.0,45.0,20.0,25.0,37.330141,127.253816,경기도 용인시 처인구 모현면 왕산리 232,용인시
1,하나고등학교,62,5,57,51.0,2.0,49.0,55,3,52,...,60,8.0,52.0,44.0,2.0,42.0,37.641704,126.935000,서울특별시 은평구 진관동 연서로 535,은평구
2,대원외고등학교,58,23,35,53.0,20.0,33.0,50,14,36,...,95,32.0,63.0,83.0,44.0,39.0,37.563696,127.086938,서울특별시 광진구 중곡4동 용마산로22길 26,광진구
3,상산고등학교,37,26,11,38.0,25.0,13.0,30,21,9,...,53,28.0,25.0,52.0,28.0,24.0,35.804418,127.116505,전라북도 전주시 완산구 효자동1가 거마평로 130,전주시
4,한영외고등학교,28,7,21,23.0,8.0,15.0,34,9,25,...,35,10.0,25.0,19.0,4.0,15.0,37.548068,127.155036,서울특별시 강동구 상일동 동남로 832,강동구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,양재고등학교,5,0,5,NaN,NaN,NaN,4,0,4,...,4,1.0,3.0,7.0,2.0,5.0,37.492652,126.905469,서울특별시 노원구 하계동 공릉로62가길 47,노원구
102,조대여자고등학교,5,0,5,NaN,NaN,NaN,0,0,0,...,1,1.0,0.0,3.0,0.0,3.0,35.166213,129.014635,부산광역시 해운대구 우동 해운대로469번길 50-1,해운대구
103,풍덕고등학교,5,1,4,NaN,NaN,NaN,7,4,3,...,2,0.0,2.0,2.0,1.0,1.0,37.566139,126.945137,서울특별시 서대문구 대신동 성산로 560,서대문구
104,한영고등학교,5,0,5,14.0,0.0,14.0,13,2,11,...,10,1.0,9.0,9.0,1.0,8.0,35.218100,126.894293,광주광역시 북구 일곡동 46-24,북구
105,해운대고등학교,5,1,4,4.0,1.0,3.0,6,3,3,...,7,0.0,7.0,7.0,3.0,4.0,35.146354,126.929983,광주광역시 동구 지산동 487-2,동구

In [106]:
df고등학교.groupby('시,구')[['2020(정시)','2020(수시)','2020(총합)']].sum()

      2020(정시)  2020(수시)  2020(총합)
시,구
가평군          1         6         7
강남구         36        55        91
강동구          9        33        42
강북구          3         5         8
강서구         12        38        50
경산시          0         6         6
고양시          3        22        25
공주시          3        10        13
과천시          0        11        11
광진구         23        35        58
구로구          1        21        22
기장군          5         2         7
남구           0         7         7
남동구          6         7        13
남양주시         8         2        10
노원구          1        11        12
논산시          1         7         8
도봉구          9        13        22
동구           4        11        15
부평구          7         6        13
북구           0        10        10
사하구          0         8         8
서구           3        24        27
서대문구         1         4         5
서초구         52        34        86
성남시         10        22        32
성동구          1         6         7
성북구          1        26        27
송파구          4        14        18
수성구          0         6         6
아산시          2         6         8
안산시         21        10        31
안양시          9         5        14
양구군          1         6         7
양천구         13        28        41
양평군          6         6        12
연수구          3        15        18
연제구          3         2         5
용인시         39        35        74
유성구          0         9         9
은평구         11        60        71
의왕시          9         8        17
의정부시         0         7         7
전주시         26        11        37
종로구          3        15        18
중구          11        73        84
진주시         13         9        22
창원시          6         6        12
천안시          9        11        20
청주시          5         4         9
파주시         16        16        32
포항시          3        14        17
해운대구         0        10        10
화성시         16        15        31
횡성군          5        19        24
후암동          0         5         5

In [107]:
고_list = []
for i in range(2013, 2021) :
    고_list.append(df고등학교.groupby('시,구')[[str(i)+'(정시)',str(i)+'(수시)',str(i)+'(총합)']].sum())

In [111]:
df고등=pd.concat(고_list)

In [131]:
pd.concat([df고등,df학원,df부동산_1분기],axis=1, join='outer')   # 이게오류

ValueError: Shape of passed values is (457, 44), indices imply (65, 44)

In [121]:
df고등.reindex(list(df부동산.index))

ValueError: cannot reindex from a duplicate axis

In [137]:
df고등.reindex(ll)

ValueError: cannot reindex from a duplicate axis

In [136]:
ll=list(df부동산_1분기.index)[1:]

In [135]:
pd.merage(df고등,df부동산_1분기)

<class 'pandas.core.frame.DataFrame'>
Index: 448 entries, 가평군 to 후암동
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   2013(정시)  56 non-null     float64
 1   2013(수시)  56 non-null     float64
 2   2013(총합)  56 non-null     float64
 3   2014(정시)  56 non-null     float64
 4   2014(수시)  56 non-null     float64
 5   2014(총합)  56 non-null     float64
 6   2015(정시)  56 non-null     float64
 7   2015(수시)  56 non-null     float64
 8   2015(총합)  56 non-null     float64
 9   2016(정시)  56 non-null     float64
 10  2016(수시)  56 non-null     float64
 11  2016(총합)  56 non-null     float64
 12  2017(정시)  56 non-null     float64
 13  2017(수시)  56 non-null     float64
 14  2017(총합)  56 non-null     float64
 15  2018(정시)  56 non-null     float64
 16  2018(수시)  56 non-null     float64
 17  2018(총합)  56 non-null     float64
 18  2019(정시)  56 non-null     float64
 19  2019(수시)  56 non-null     float64
 20  2019(총합)  56 non-null     float64
 21  2020(정시)  56 non-null     float64
 22  2020(수시)  56 non-null     float64
 23  2020(총합)  56 non-null     float64
dtypes: float64(24)
memory usage: 97.5+ KB

In [133]:
df학원

,2013사업체수,20132013종사자수,2014사업체수,20142013종사자수,2015사업체수,20152013종사자수,2016사업체수,20162013종사자수,2017사업체수,20172013종사자수,2018사업체수,20182013종사자수
자치구,,,,,,,,,,,,
서울시,32240.0,313846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
종로구,866.0,12325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중구,510.0,7644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
용산구,509.0,7631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성동구,745.0,10030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.0,16210.0
서초구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2615.0,21404.0
강남구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838.0,29182.0
송파구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2340.0,18609.0
강동구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.0,10844.0

In [143]:
df부동산_1분기['자치구'] = ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구']

<ipython-input-143-78c4dc0cf705>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df부동산_1분기['자치구'] = ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',

In [144]:
df부동산_1분기

     2013부동산 2014부동산 2015부동산 2016부동산 2017부동산  2018부동산  2019부동산  2020부동산   자치구
종로구   94.265  93.905  94.176  96.203  97.661  100.686  106.181  107.782   종로구
중구    92.145  91.902  93.102  95.724  97.129  100.863  108.351  110.009    중구
용산구   96.167  93.238  92.875  94.773  96.812  101.289  109.652  111.966   용산구
성동구   90.222  89.333  89.986  95.127  96.649  102.542  109.255  110.843   성동구
광진구    92.92  90.673  91.619  96.171  97.387    101.8  105.653  107.778   광진구
동대문구  91.502   90.29  90.896  96.266  97.732   100.54  106.123    107.7  동대문구
중랑구   93.484  94.413  94.938  97.498  98.399  100.548  104.367  105.613   중랑구
성북구    94.41  92.792  93.416  96.379  98.083  100.708  107.443  109.029   성북구
강북구   97.002  95.387  95.342  97.714  98.834  100.547  104.982  106.549   강북구
도봉구   93.868   92.17  92.967  96.752  98.131  100.424  104.302  105.175   도봉구
노원구   86.768  86.121  88.128  94.642  97.049  100.364  103.661  104.971   노원구
은평구   94.125  92.939  93.787  96.197  97.881  100.427  105.118   106.31   은평구
서대문구  93.742  92.543  93.109  95.739  97.729  100.544  106.186  107.754  서대문구
마포구   90.328  90.376  91.805  94.502  96.713  101.242  110.012  112.679   마포구
양천구   91.338  89.699  90.441  94.438  96.807  102.878  106.958  109.288   양천구
강서구   90.528  90.049  89.392  93.919  96.682  100.519  106.165    107.2   강서구
구로구   90.351  89.914  90.123  95.484  97.387   100.64  105.123  106.801   구로구
금천구   93.665  92.713  92.965  95.889  97.298  100.251   103.49  105.201   금천구
영등포구  89.634  88.474  89.769  94.028  96.217  101.293  108.494  111.189  영등포구
동작구   88.575  89.715  91.294  94.585  96.536  101.069  107.916  110.353   동작구
관악구   91.448  92.201  92.344  95.257  97.376   100.33  103.683   105.02   관악구
서초구    88.64  87.662  89.035  94.684  97.156  102.904  107.843  110.205   서초구
강남구   82.802  83.265  85.518   91.71   95.89  104.113  108.337  111.917   강남구
송파구    89.72  89.863  90.536  94.418  95.645  103.989   108.15  111.632   송파구
강동구   86.659  86.649  88.394  94.437  96.587  102.258  109.645  110.712   강동구

In [147]:
df고등['자치구'] =list(df고등.index)

In [148]:
df고등

,2013(정시),2013(수시),2013(총합),2014(정시),2014(수시),2014(총합),2015(정시),2015(수시),2015(총합),2016(정시),...,2018(정시),2018(수시),2018(총합),2019(정시),2019(수시),2019(총합),2020(정시),2020(수시),2020(총합),자치구
"시,구",,,,,,,,,,,,,,,,,,,,,
가평군,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,가평군
강남구,36.0,42.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강남구
강동구,5.0,25.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강동구
강북구,2.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강북구
강서구,30.0,30.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
포항시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,14.0,17.0,포항시
해운대구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.0,10.0,해운대구
화성시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,31.0,화성시
횡성군,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,19.0,24.0,횡성군
후암동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,5.0,후암동

In [150]:
df임시1 = pd.merge(df고등,df부동산_1분기,on='자치구',how='outer')

In [155]:
df학원['자치구'] =  list(df학원.index)

In [157]:
df학원.

,2013사업체수,20132013종사자수,2014사업체수,20142013종사자수,2015사업체수,20152013종사자수,2016사업체수,20162013종사자수,2017사업체수,20172013종사자수,2018사업체수,20182013종사자수,자치구
자치구,,,,,,,,,,,,,
서울시,32240.0,313846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울시
종로구,866.0,12325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,종로구
중구,510.0,7644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중구
용산구,509.0,7631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,용산구
성동구,745.0,10030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,성동구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.0,16210.0,관악구
서초구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2615.0,21404.0,서초구
강남구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838.0,29182.0,강남구
송파구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2340.0,18609.0,송파구
강동구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.0,10844.0,강동구

In [199]:
df임시1.to_excel('D:\\BigData\\project\\High_school\\data\\임시병합1.xlsx')

In [159]:
pd.merge(df임시1,df학원,on='자치구',how='outer')

ValueError: '자치구' is both an index level and a column label, which is ambiguous.

In [160]:
df학원

,2013사업체수,20132013종사자수,2014사업체수,20142013종사자수,2015사업체수,20152013종사자수,2016사업체수,20162013종사자수,2017사업체수,20172013종사자수,2018사업체수,20182013종사자수,자치구
자치구,,,,,,,,,,,,,
서울시,32240.0,313846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울시
종로구,866.0,12325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,종로구
중구,510.0,7644.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,중구
용산구,509.0,7631.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,용산구
성동구,745.0,10030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,성동구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191.0,16210.0,관악구
서초구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2615.0,21404.0,서초구
강남구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3838.0,29182.0,강남구
송파구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2340.0,18609.0,송파구
강동구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490.0,10844.0,강동구

In [193]:
df학원기준=df학원기준.iloc[:,[0,1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17]]

In [190]:
ll = []
for i in range(18):
    if (i % 3)!=0 :
        ll.append(i)

In [191]:
ll

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17]

In [204]:
list(df부동산_1분기.index)[1:]

['중구',
 '용산구',
 '성동구',
 '광진구',
 '동대문구',
 '중랑구',
 '성북구',
 '강북구',
 '도봉구',
 '노원구',
 '은평구',
 '서대문구',
 '마포구',
 '양천구',
 '강서구',
 '구로구',
 '금천구',
 '영등포구',
 '동작구',
 '관악구',
 '서초구',
 '강남구',
 '송파구',
 '강동구']

In [196]:
pd.merge(df임시1,df학원기준,on='자치구',how='outer')

,2013(정시),2013(수시),2013(총합),2014(정시),2014(수시),2014(총합),2015(정시),2015(수시),2015(총합),2016(정시),...,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,2017종사자수,2018사업체수,2018종사자수
0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,0.0,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,624.0,5203.0,603.0,5285.0,651.0,5096.0,675.0,5452.0,702.0,6307.0
453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1277.0,9181.0,1281.0,9207.0,1253.0,9097.0,1251.0,9054.0,1260.0,8754.0
454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1186.0,12770.0,1170.0,13506.0,1211.0,14430.0,1215.0,15448.0,1264.0,15755.0
455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1252.0,14117.0,1229.0,15206.0,1239.0,14289.0,1227.0,15100.0,1191.0,16210.0
456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33288.0,318984.0,33612.0,340950.0,34065.0,333486.0,34762.0,341732.0,35377.0,346219.0

In [201]:
df병합1 = df임시1.set_index('자치구')

In [209]:
df병합1=df임시1[df임시1.자치구.isin(list(df부동산_1분기.index)[1:])]

In [210]:
df병합1.to_excel('D:\\BigData\\project\\High_school\\data\\임시병합2.xlsx')

In [212]:
df고등

,2013(정시),2013(수시),2013(총합),2014(정시),2014(수시),2014(총합),2015(정시),2015(수시),2015(총합),2016(정시),...,2018(정시),2018(수시),2018(총합),2019(정시),2019(수시),2019(총합),2020(정시),2020(수시),2020(총합),자치구
"시,구",,,,,,,,,,,,,,,,,,,,,
가평군,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,가평군
강남구,36.0,42.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강남구
강동구,5.0,25.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강동구
강북구,2.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강북구
강서구,30.0,30.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강서구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
포항시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,14.0,17.0,포항시
해운대구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.0,10.0,해운대구
화성시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,31.0,화성시
횡성군,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,19.0,24.0,횡성군
후암동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,5.0,후암동

In [214]:
df병합3=pd.merge(pd.merge(df학원기준,df부동산_1분기,on='자치구',how='outer'),df고등,on='자치구',how='outer')

In [217]:
df병합3[df병합3.자치구.isin(list(df부동산_1분기.index)[1:])].to_excel('D:\\BigData\\project\\High_school\\data\\병합최종본.xlsx')