In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn

In [15]:
df_t = pd.read_excel('./data/서울대출신고등학교수정.xlsx', index_col=0)

In [16]:
df_t['학교명'] = df_t.학교명.apply(lambda x : x+'등학교')
df_t.head(2)   # 학교 이름 수정 및 고등학교 붙힘

,학교명,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),...,2015(수시),2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시),위도,경도,주소
0,외대부고등학교,69,39,30,73.0,36.0,37.0,55,24,31,...,30.0,92,34.0,58.0,45.0,20.0,25.0,37.330141,127.253816,경기도 용인시 처인구 모현면 왕산리 232
1,하나고등학교,62,5,57,51.0,2.0,49.0,55,3,52,...,46.0,60,8.0,52.0,44.0,2.0,42.0,37.641704,126.935000,서울특별시 은평구 진관동 연서로 535

In [18]:
# 시, 구 col 추가
df_t['시,구'] = df_t.주소.apply(lambda x : x.split(' ')[1])
df_t.head(2)

,학교명,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),...,2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시),위도,경도,주소,"시,구"
0,외대부고등학교,69,39,30,73.0,36.0,37.0,55,24,31,...,92,34.0,58.0,45.0,20.0,25.0,37.330141,127.253816,경기도 용인시 처인구 모현면 왕산리 232,용인시
1,하나고등학교,62,5,57,51.0,2.0,49.0,55,3,52,...,60,8.0,52.0,44.0,2.0,42.0,37.641704,126.935000,서울특별시 은평구 진관동 연서로 535,은평구

In [25]:
df_t.to_excel('./data/서울대출신고등학교수정1.xlsx')

In [27]:
df_dic = {}
for i in range(2013,2021) :
    sub = str(i)+'(총합)'
    sub1 = str(i)+'(수시)'
    sub2 = str(i)+'(정시)'
    df1 = df[['학교명',sub,sub1,sub2,'위도','경도','주소','시,구']].sort_values(sub,ascending = False)[:50]
    df_dic[i] = df1

In [28]:
for i in df_dic.keys() :
    na = str(i)+'상위50_수정1'
    df_dic[i].to_excel('./data/'+na+'.xlsx')

In [2]:
df = pd.read_excel('./data/2013상위50.xlsx', index_col=0)
df.head(1)

,학교명,2013(총합),2013(수시),2013(정시),위도,경도,주소
2,대원외고,83,39,44,37.563696,127.086938,서울특별시 광진구 중곡4동 용마산로22길 26

In [7]:
df.주소[0].split(' ')[1]

'용인시'

In [6]:
df.head(1)

,학교명,2013(총합),2013(수시),2013(정시),위도,경도,주소,"시,구"
2,대원외고,83,39,44,37.563696,127.086938,서울특별시 광진구 중곡4동 용마산로22길 26,광진구

In [ ]:
for i in range(2013,2021):
    ex = str(i)