In [262]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster

In [263]:
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus']= False
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [4]:
df=pd.read_excel('D:\\BigData\\project\\High_school\\data\\병합(4구역).xlsx',index_col=0)

In [6]:
del df['2013사업체비율']

In [8]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\병합(4구역).xlsx')

In [99]:
df.head(1)  # df = 4지역 자료 통합 dataframe
            # col 0 : 자치구, 1~12 : 학원수, 13~21 : 부동산지수, 22~ 입시수

,자치구,2013사업체수,2013종사자수,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,...,2017(총합),2018(정시),2018(수시),2018(총합),2019(정시),2019(수시),2019(총합),2020(정시),2020(수시),2020(총합)
60,노원구,1810,19966,1835,20437,1880,20976,1903,20447,1951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 60 to 128
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       32 non-null     object
 1   2013사업체수  32 non-null     int64
 2   2013종사자수  32 non-null     int64
 3   2014사업체수  32 non-null     int64
 4   2014종사자수  32 non-null     int64
 5   2015사업체수  32 non-null     int64
 6   2015종사자수  32 non-null     int64
 7   2016사업체수  32 non-null     int64
 8   2016종사자수  32 non-null     int64
 9   2017사업체수  32 non-null     int64
 10  2017종사자수  32 non-null     int64
 11  2018사업체수  32 non-null     int64
 12  2018종사자수  32 non-null     int64
 13  2013부동산   32 non-null     float64
 14  2014부동산   32 non-null     float64
 15  2015부동산   32 non-null     float64
 16  2016부동산   32 non-null     float64
 17  2017부동산   32 non-null     float64
 18  2018부동산   32 non-null     float64
 19  2019부동산   32 non-null     float64
 20  2020부동산   32 non-null     float64
 21  2013(정시)  4 non-null      float64
 22  2013(수시)  4 non-null      float64
 23  2013(총합)  4 non-null      float64
 24  2014(정시)  4 non-null      float64
 25  2014(수시)  4 non-null      float64
 26  2014(총합)  4 non-null      float64
 27  2015(정시)  4 non-null      float64
 28  2015(수시)  4 non-null      float64
 29  2015(총합)  4 non-null      float64
 30  2016(정시)  4 non-null      float64
 31  2016(수시)  4 non-null      float64
 32  2016(총합)  4 non-null      float64
 33  2017(정시)  4 non-null      float64
 34  2017(수시)  4 non-null      float64
 35  2017(총합)  4 non-null      float64
 36  2018(정시)  4 non-null      float64
 37  2018(수시)  4 non-null      float64
 38  2018(총합)  4 non-null      float64
 39  2019(정시)  4 non-null      float64
 40  2019(수시)  4 non-null      float64
 41  2019(총합)  4 non-null      float64
 42  2020(정시)  4 non-null      float64
 43  2020(수시)  4 non-null      float64
 44  2020(총합)  4 non-null      float64
dtypes: float64(32), int64(12), object(1)
memory usage: 12.8+ KB

In [101]:
# 부동산 & 수시수만 출력하기 위한 col번호
l = list(range(13,45))
l.append(0)
l = sorted(l)
l

[0,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44]

In [102]:
df1 = df.iloc[:,l]  # df1 : 자치구 / 부동산 / 입시자료

In [103]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 60 to 128
Data columns (total 33 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       32 non-null     object
 1   2013부동산   32 non-null     float64
 2   2014부동산   32 non-null     float64
 3   2015부동산   32 non-null     float64
 4   2016부동산   32 non-null     float64
 5   2017부동산   32 non-null     float64
 6   2018부동산   32 non-null     float64
 7   2019부동산   32 non-null     float64
 8   2020부동산   32 non-null     float64
 9   2013(정시)  4 non-null      float64
 10  2013(수시)  4 non-null      float64
 11  2013(총합)  4 non-null      float64
 12  2014(정시)  4 non-null      float64
 13  2014(수시)  4 non-null      float64
 14  2014(총합)  4 non-null      float64
 15  2015(정시)  4 non-null      float64
 16  2015(수시)  4 non-null      float64
 17  2015(총합)  4 non-null      float64
 18  2016(정시)  4 non-null      float64
 19  2016(수시)  4 non-null      float64
 20  2016(총합)  4 non-null      float64
 21  2017(정시)  4 non-null      float64
 22  2017(수시)  4 non-null      float64
 23  2017(총합)  4 non-null      float64
 24  2018(정시)  4 non-null      float64
 25  2018(수시)  4 non-null      float64
 26  2018(총합)  4 non-null      float64
 27  2019(정시)  4 non-null      float64
 28  2019(수시)  4 non-null      float64
 29  2019(총합)  4 non-null      float64
 30  2020(정시)  4 non-null      float64
 31  2020(수시)  4 non-null      float64
 32  2020(총합)  4 non-null      float64
dtypes: float64(32), object(1)
memory usage: 9.8+ KB

### 부동산 수치계산(부동산지수 / 4개지역의 부동산지수 평균)

In [111]:
l = []
for i in range(9,33):
    if (i%3)==0:
        l.append(i)

In [112]:
df1.iloc[:,l].sum()

2013(정시)     65.0
2014(정시)     56.0
2015(정시)    103.0
2016(정시)    110.0
2017(정시)    111.0
2018(정시)    107.0
2019(정시)     98.0
2020(정시)     90.0
dtype: float64

#### 동일하게 -관계를 띄어서 년도별 차이를 가지고 분석해보자함

In [91]:
df1['2013부동산비율'] =  df1['2013부동산'] / df1['2013부동산'].mean()

<ipython-input-91-f40cdf9b5932>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['2013부동산비율'] =  df1['2013부동산'] / df1['2013부동산'].mean()

In [92]:
for i in range(2013,2021) : 
    df1[str(i)+'부동산비율'] = df1[str(i)+'부동산']*100 / df1[str(i)+'부동산'].mean()

<ipython-input-92-46e0fc7deea6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[str(i)+'부동산비율'] = df1[str(i)+'부동산']*100 / df1[str(i)+'부동산'].mean()

In [93]:
df1.info()  # 부동산 비율 col추가

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 60 to 128
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구        32 non-null     object
 1   2013부동산    32 non-null     float64
 2   2014부동산    32 non-null     float64
 3   2015부동산    32 non-null     float64
 4   2016부동산    32 non-null     float64
 5   2017부동산    32 non-null     float64
 6   2018부동산    32 non-null     float64
 7   2019부동산    32 non-null     float64
 8   2020부동산    32 non-null     float64
 9   2013(정시)   4 non-null      float64
 10  2013(수시)   4 non-null      float64
 11  2013(총합)   4 non-null      float64
 12  2014(정시)   4 non-null      float64
 13  2014(수시)   4 non-null      float64
 14  2014(총합)   4 non-null      float64
 15  2015(정시)   4 non-null      float64
 16  2015(수시)   4 non-null      float64
 17  2015(총합)   4 non-null      float64
 18  2016(정시)   4 non-null      float64
 19  2016(수시)   4 non-null      float64
 20  2016(총합)   4 non-null      float64
 21  2017(정시)   4 non-null      float64
 22  2017(수시)   4 non-null      float64
 23  2017(총합)   4 non-null      float64
 24  2018(정시)   4 non-null      float64
 25  2018(수시)   4 non-null      float64
 26  2018(총합)   4 non-null      float64
 27  2019(정시)   4 non-null      float64
 28  2019(수시)   4 non-null      float64
 29  2019(총합)   4 non-null      float64
 30  2020(정시)   4 non-null      float64
 31  2020(수시)   4 non-null      float64
 32  2020(총합)   4 non-null      float64
 33  2013부동산비율  32 non-null     float64
 34  2014부동산비율  32 non-null     float64
 35  2015부동산비율  32 non-null     float64
 36  2016부동산비율  32 non-null     float64
 37  2017부동산비율  32 non-null     float64
 38  2018부동산비율  32 non-null     float64
 39  2019부동산비율  32 non-null     float64
 40  2020부동산비율  32 non-null     float64
dtypes: float64(40), object(1)
memory usage: 11.8+ KB

In [94]:
df1.columns

Index(['자치구', '2013부동산', '2014부동산', '2015부동산', '2016부동산', '2017부동산', '2018부동산',
       '2019부동산', '2020부동산', '2013(정시)', '2013(수시)', '2013(총합)', '2014(정시)',
       '2014(수시)', '2014(총합)', '2015(정시)', '2015(수시)', '2015(총합)', '2016(정시)',
       '2016(수시)', '2016(총합)', '2017(정시)', '2017(수시)', '2017(총합)', '2018(정시)',
       '2018(수시)', '2018(총합)', '2019(정시)', '2019(수시)', '2019(총합)', '2020(정시)',
       '2020(수시)', '2020(총합)', '2013부동산비율', '2014부동산비율', '2015부동산비율',
       '2016부동산비율', '2017부동산비율', '2018부동산비율', '2019부동산비율', '2020부동산비율'],
      dtype='object')

In [95]:
df1 = df1.loc[:,['자치구','2013(정시)', '2013(수시)', '2013(총합)', '2014(정시)',
       '2014(수시)', '2014(총합)', '2015(정시)', '2015(수시)', '2015(총합)', '2016(정시)',
       '2016(수시)', '2016(총합)', '2017(정시)', '2017(수시)', '2017(총합)', '2018(정시)',
       '2018(수시)', '2018(총합)', '2019(정시)', '2019(수시)', '2019(총합)', '2020(정시)',
       '2020(수시)', '2020(총합)', '2013부동산비율', '2014부동산비율', '2015부동산비율',
       '2016부동산비율', '2017부동산비율', '2018부동산비율', '2019부동산비율', '2020부동산비율']]   # 부동산은 비율로 변경

In [96]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 60 to 128
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구        32 non-null     object
 1   2013(정시)   4 non-null      float64
 2   2013(수시)   4 non-null      float64
 3   2013(총합)   4 non-null      float64
 4   2014(정시)   4 non-null      float64
 5   2014(수시)   4 non-null      float64
 6   2014(총합)   4 non-null      float64
 7   2015(정시)   4 non-null      float64
 8   2015(수시)   4 non-null      float64
 9   2015(총합)   4 non-null      float64
 10  2016(정시)   4 non-null      float64
 11  2016(수시)   4 non-null      float64
 12  2016(총합)   4 non-null      float64
 13  2017(정시)   4 non-null      float64
 14  2017(수시)   4 non-null      float64
 15  2017(총합)   4 non-null      float64
 16  2018(정시)   4 non-null      float64
 17  2018(수시)   4 non-null      float64
 18  2018(총합)   4 non-null      float64
 19  2019(정시)   4 non-null      float64
 20  2019(수시)   4 non-null      float64
 21  2019(총합)   4 non-null      float64
 22  2020(정시)   4 non-null      float64
 23  2020(수시)   4 non-null      float64
 24  2020(총합)   4 non-null      float64
 25  2013부동산비율  32 non-null     float64
 26  2014부동산비율  32 non-null     float64
 27  2015부동산비율  32 non-null     float64
 28  2016부동산비율  32 non-null     float64
 29  2017부동산비율  32 non-null     float64
 30  2018부동산비율  32 non-null     float64
 31  2019부동산비율  32 non-null     float64
 32  2020부동산비율  32 non-null     float64
dtypes: float64(32), object(1)
memory usage: 9.8+ KB

In [98]:
df1.iloc[:,[0,1,25]].dropna().corr()

           2013(정시)  2013부동산비율
2013(정시)   1.000000  -0.775578
2013부동산비율 -0.775578   1.000000

### 서울 전체지역
    * 부동산가를 은평구로 나누어서 값을 비교함

In [116]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\병합최종본.xlsx', index_col=0)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 9 to 144
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       136 non-null    object
 1   2013사업체수  136 non-null    int64
 2   2013종사자수  136 non-null    int64
 3   2014사업체수  136 non-null    int64
 4   2014종사자수  136 non-null    int64
 5   2015사업체수  136 non-null    int64
 6   2015종사자수  136 non-null    int64
 7   2016사업체수  136 non-null    int64
 8   2016종사자수  136 non-null    int64
 9   2017사업체수  136 non-null    int64
 10  2017종사자수  136 non-null    int64
 11  2018사업체수  136 non-null    int64
 12  2018종사자수  136 non-null    int64
 13  2013부동산   136 non-null    float64
 14  2014부동산   136 non-null    float64
 15  2015부동산   136 non-null    float64
 16  2016부동산   136 non-null    float64
 17  2017부동산   136 non-null    float64
 18  2018부동산   136 non-null    float64
 19  2019부동산   136 non-null    float64
 20  2020부동산   136 non-null    float64
 21  2013(정시)  16 non-null     float64
 22  2013(수시)  16 non-null     float64
 23  2013(총합)  16 non-null     float64
 24  2014(정시)  16 non-null     float64
 25  2014(수시)  16 non-null     float64
 26  2014(총합)  16 non-null     float64
 27  2015(정시)  16 non-null     float64
 28  2015(수시)  16 non-null     float64
 29  2015(총합)  16 non-null     float64
 30  2016(정시)  16 non-null     float64
 31  2016(수시)  16 non-null     float64
 32  2016(총합)  16 non-null     float64
 33  2017(정시)  16 non-null     float64
 34  2017(수시)  16 non-null     float64
 35  2017(총합)  16 non-null     float64
 36  2018(정시)  16 non-null     float64
 37  2018(수시)  16 non-null     float64
 38  2018(총합)  16 non-null     float64
 39  2019(정시)  16 non-null     float64
 40  2019(수시)  16 non-null     float64
 41  2019(총합)  16 non-null     float64
 42  2020(정시)  16 non-null     float64
 43  2020(수시)  16 non-null     float64
 44  2020(총합)  16 non-null     float64
dtypes: float64(32), int64(12), object(1)
memory usage: 48.9+ KB

In [123]:
for i in range(2013,2021) : 
    df[str(i)+'부동산비율(은평)'] = df[str(i)+'부동산'] / df[df.자치구 == '은평구'].loc[:,str(i)+'부동산'].mean()

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 9 to 144
Data columns (total 53 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   자치구            136 non-null    object
 1   2013사업체수       136 non-null    int64
 2   2013종사자수       136 non-null    int64
 3   2014사업체수       136 non-null    int64
 4   2014종사자수       136 non-null    int64
 5   2015사업체수       136 non-null    int64
 6   2015종사자수       136 non-null    int64
 7   2016사업체수       136 non-null    int64
 8   2016종사자수       136 non-null    int64
 9   2017사업체수       136 non-null    int64
 10  2017종사자수       136 non-null    int64
 11  2018사업체수       136 non-null    int64
 12  2018종사자수       136 non-null    int64
 13  2013부동산        136 non-null    float64
 14  2014부동산        136 non-null    float64
 15  2015부동산        136 non-null    float64
 16  2016부동산        136 non-null    float64
 17  2017부동산        136 non-null    float64
 18  2018부동산        136 non-null    float64
 19  2019부동산        136 non-null    float64
 20  2020부동산        136 non-null    float64
 21  2013(정시)       16 non-null     float64
 22  2013(수시)       16 non-null     float64
 23  2013(총합)       16 non-null     float64
 24  2014(정시)       16 non-null     float64
 25  2014(수시)       16 non-null     float64
 26  2014(총합)       16 non-null     float64
 27  2015(정시)       16 non-null     float64
 28  2015(수시)       16 non-null     float64
 29  2015(총합)       16 non-null     float64
 30  2016(정시)       16 non-null     float64
 31  2016(수시)       16 non-null     float64
 32  2016(총합)       16 non-null     float64
 33  2017(정시)       16 non-null     float64
 34  2017(수시)       16 non-null     float64
 35  2017(총합)       16 non-null     float64
 36  2018(정시)       16 non-null     float64
 37  2018(수시)       16 non-null     float64
 38  2018(총합)       16 non-null     float64
 39  2019(정시)       16 non-null     float64
 40  2019(수시)       16 non-null     float64
 41  2019(총합)       16 non-null     float64
 42  2020(정시)       16 non-null     float64
 43  2020(수시)       16 non-null     float64
 44  2020(총합)       16 non-null     float64
 45  2013부동산비율(은평)  136 non-null    float64
 46  2014부동산비율(은평)  136 non-null    float64
 47  2015부동산비율(은평)  136 non-null    float64
 48  2016부동산비율(은평)  136 non-null    float64
 49  2017부동산비율(은평)  136 non-null    float64
 50  2018부동산비율(은평)  136 non-null    float64
 51  2019부동산비율(은평)  136 non-null    float64
 52  2020부동산비율(은평)  136 non-null    float64
dtypes: float64(40), int64(12), object(1)
memory usage: 57.4+ KB

In [128]:
for i in range(2013,2021) : 
    df[str(i)+'부동산비율(서울)'] = df[str(i)+'부동산'] / df[str(i)+'부동산'].mean()

In [270]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\부동산추가자료.xlsx')

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   2020(총합)  17 non-null     float64
 1   2020(정시)  17 non-null     float64
 2   2020(수시)  17 non-null     float64
 3   2019(총합)  17 non-null     float64
 4   2019(정시)  17 non-null     float64
 5   2019(수시)  17 non-null     float64
 6   2018(총합)  17 non-null     float64
 7   2018(정시)  17 non-null     float64
 8   2018(수시)  17 non-null     float64
 9   2017(총합)  17 non-null     float64
 10  2017(정시)  17 non-null     float64
 11  2017(수시)  17 non-null     float64
 12  2016(총합)  17 non-null     float64
 13  2016(정시)  17 non-null     float64
 14  2016(수시)  17 non-null     float64
 15  2015(총합)  17 non-null     float64
 16  2015(정시)  17 non-null     float64
 17  2015(수시)  17 non-null     float64
 18  2014(총합)  17 non-null     float64
 19  2014(정시)  17 non-null     float64
 20  2014(수시)  17 non-null     float64
 21  2013(총합)  17 non-null     float64
 22  2013(정시)  17 non-null     float64
 23  2013(수시)  17 non-null     float64
dtypes: float64(24)
memory usage: 4.9+ KB

In [272]:
df.iloc[:,[0,]].dropna().corr()

          2020(총합)
2020(총합)       1.0

In [156]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\평균매매가격_아파트.xlsx', index_col=0, skiprows=10)

In [157]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\매매가수정용.xlsx')

In [161]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정중.xlsx', index_col=0).iloc[:,3:]

In [163]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정중1.xlsx')

In [169]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정중1.xlsx', index_col=0)

In [167]:
l = []
for i in range(2013,2021):
    l.append(str(i)+'년 01월')

In [168]:
l

['2013년 01월',
 '2014년 01월',
 '2015년 01월',
 '2016년 01월',
 '2017년 01월',
 '2018년 01월',
 '2019년 01월',
 '2020년 01월']

In [172]:
df.loc[:,l].to_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정완료.xlsx')

In [173]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정완료.xlsx', index_col=0)

In [179]:
df = df.reindex(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'])

In [180]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정완료1.xlsx')

In [204]:
df1 = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울매매가수정완료1.xlsx',index_col=0)

In [184]:
df수정 = pd.read_excel('D:\\BigData\\project\\High_school\\data\\학원수(종합).xlsx',index_col=0).iloc[1:,[0,2,3,4]]

In [188]:
df수정.tail()

    자치구  사업체수   종사자수    년도
21  관악구  1191  16210  2018
22  서초구  2615  21404  2018
23  강남구  3838  29182  2018
24  송파구  2340  18609  2018
25  강동구  1490  10844  2018

In [191]:
df수정[df수정.년도 == 2013].iloc[:,:3]

     자치구  사업체수   종사자수
1    종로구   866  12325
2     중구   510   7644
3    용산구   509   7631
4    성동구   745  10030
5    광진구  1132  12597
6   동대문구   925  14743
7    중랑구   898   7620
8    성북구  1304  22343
9    강북구   701   5886
10   도봉구   975   7358
11   노원구  1810  19966
12   은평구  1402   9994
13  서대문구  1023  14852
14   마포구  1400  14959
15   양천구  2215  13971
16   강서구  1547  11493
17   구로구  1096   9566
18   금천구   606   5176
19  영등포구  1183   8507
20   동작구  1181  12443
21   관악구  1217  13967
22   서초구  2147  18102
23   강남구  3179  25131
24   송파구  2162  17155
25   강동구  1507  10387

In [193]:
임시dict = {}
for i in range(2013,2019):
    임시dict[i] = df수정[df수정.년도 == i].iloc[:,:3]
    임시dict[i].columns = ['자치구',str(i)+'사업체수',str(i)+'종사자수']

In [196]:
임시list = []
for i in range(2013,2019):
    임시list.append(임시dict[i])

In [201]:
df = pd.concat(임시list,axis=1).iloc[1:,[0,1,2,4,5,7,8,10,11,13,14,16,17]]

In [273]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\새로운매매가학원수.xlsx')

In [274]:
df

,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),2017(총합),...,2016(수시),2015(총합),2015(정시),2015(수시),2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시)
"시,구",,,,,,,,,,,,,,,,,,,,,
종로구,18.0,3.0,15.0,23.0,11.0,12.0,20.0,8.0,12.0,19.0,...,5.0,14.0,8.0,6.0,10.0,5.0,5.0,13.0,5.0,8.0
중구,84.0,11.0,73.0,74.0,18.0,56.0,67.0,20.0,47.0,32.0,...,39.0,44.0,10.0,34.0,41.0,7.0,34.0,39.0,4.0,35.0
용산구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성동구,7.0,1.0,6.0,5.0,4.0,1.0,6.0,2.0,4.0,3.0,...,7.0,8.0,3.0,5.0,9.0,3.0,6.0,12.0,3.0,9.0
광진구,58.0,23.0,35.0,53.0,20.0,33.0,50.0,14.0,36.0,55.0,...,41.0,79.0,31.0,48.0,95.0,32.0,63.0,83.0,44.0,39.0
동대문구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중랑구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성북구,27.0,1.0,26.0,23.0,1.0,22.0,17.0,1.0,16.0,31.0,...,28.0,32.0,4.0,28.0,35.0,8.0,27.0,41.0,10.0,31.0
강북구,8.0,3.0,5.0,11.0,5.0,6.0,10.0,5.0,5.0,3.0,...,3.0,4.0,2.0,2.0,7.0,3.0,4.0,4.0,2.0,2.0
도봉구,22.0,9.0,13.0,23.0,9.0,14.0,19.0,9.0,10.0,15.0,...,15.0,27.0,8.0,19.0,22.0,5.0,17.0,19.0,2.0,17.0
노원구,12.0,1.0,11.0,17.0,10.0,7.0,20.0,6.0,14.0,12.0,...,19.0,20.0,7.0,13.0,15.0,2.0,13.0,23.0,5.0,18.0
은평구,71.0,11.0,60.0,54.0,4.0,50.0,58.0,5.0,53.0,56.0,...,56.0,59.0,9.0,50.0,66.0,10.0,56.0,50.0,3.0,47.0
서대문구,5.0,1.0,4.0,0.0,0.0,0.0,7.0,4.0,3.0,2.0,...,0.0,6.0,4.0,2.0,2.0,0.0,2.0,2.0,1.0,1.0
마포구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
양천구,41.0,13.0,28.0,34.0,9.0,25.0,34.0,13.0,21.0,49.0,...,33.0,55.0,21.0,34.0,41.0,10.0,31.0,53.0,17.0,36.0
강서구,50.0,12.0,38.0,46.0,6.0,40.0,47.0,11.0,36.0,37.0,...,38.0,52.0,16.0,36.0,56.0,14.0,42.0,60.0,30.0,30.0
구로구,22.0,1.0,21.0,21.0,1.0,20.0,27.0,6.0,21.0,15.0,...,7.0,25.0,3.0,22.0,42.0,1.0,41.0,30.0,0.0,30.0
금천구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영등포구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
동작구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
서초구,86.0,52.0,34.0,81.0,41.0,40.0,82.0,44.0,38.0,88.0,...,31.0,82.0,49.0,33.0,59.0,27.0,32.0,56.0,23.0,33.0
강남구,91.0,36.0,55.0,97.0,47.0,50.0,94.0,53.0,41.0,87.0,...,30.0,75.0,43.0,32.0,71.0,27.0,44.0,78.0,36.0,42.0
송파구,18.0,4.0,14.0,19.0,5.0,14.0,15.0,1.0,14.0,24.0,...,14.0,18.0,6.0,12.0,21.0,5.0,16.0,18.0,11.0,7.0
강동구,42.0,9.0,33.0,35.0,11.0,24.0,42.0,11.0,31.0,36.0,...,32.0,42.0,10.0,32.0,43.0,11.0,32.0,30.0,5.0,25.0

In [206]:
l = []
for i in range(2013,2021):
    l.append(str(i)+'매매가')

In [207]:
l

['2013매매가',
 '2014매매가',
 '2015매매가',
 '2016매매가',
 '2017매매가',
 '2018매매가',
 '2019매매가',
 '2020매매가']

In [208]:
df1.columns = ['2013매매가',
 '2014매매가',
 '2015매매가',
 '2016매매가',
 '2017매매가',
 '2018매매가',
 '2019매매가',
 '2020매매가']

In [214]:
df1['자치구'] =  ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구']

In [217]:
df2 = pd.merge(df,df1,on='자치구',how = 'outer')

In [218]:
df2.to_excel('D:\\BigData\\project\\High_school\\data\\진짜최종.xlsx')

In [220]:
df2  # 매매가 / 학원수 합본

,자치구,2013사업체수,2013종사자수,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,...,2018사업체수,2018종사자수,2013매매가,2014매매가,2015매매가,2016매매가,2017매매가,2018매매가,2019매매가,2020매매가
0,종로구,866.0,12325.0,885,12303,876,13646,880,13130,852,...,850,13504,499805,479337,481884,504337,513023,602125,710411,1022319
1,중구,510.0,7644.0,516,8270,508,9983,481,8849,454,...,471,8321,493920,502759,509648,545037,554130,623017,775667,795743
2,용산구,509.0,7631.0,527,7202,541,8129,539,7581,539,...,550,7452,807000,761439,750030,791288,813773,1080385,1378500,1389939
3,성동구,745.0,10030.0,760,9885,785,11076,810,10837,886,...,961,11371,439910,447987,456859,492987,503218,680771,881926,899118
4,광진구,1132.0,12597.0,1114,12507,1100,13897,1136,13848,1159,...,1183,14139,630606,600879,608515,654955,668409,765921,902974,1014402
5,동대문구,925.0,14743.0,934,14877,945,15933,959,15544,985,...,1000,16243,356423,349817,354500,389744,398415,447890,593904,652774
6,중랑구,898.0,7620.0,926,7838,880,7874,911,7857,922,...,936,7773,300176,296329,297434,312566,315100,353115,444432,451372
7,성북구,1304.0,22343.0,1304,21230,1302,23211,1337,20637,1372,...,1382,21481,369468,362592,365092,395602,407439,447027,558217,589518
8,강북구,701.0,5886.0,709,5813,662,5694,685,5676,683,...,684,5871,323917,318317,321167,346317,346422,385643,478758,495000
9,도봉구,975.0,7358.0,958,7279,942,7560,931,7257,960,...,962,7537,291208,285635,289167,307792,313396,350782,431198,420883
10,노원구,1810.0,19966.0,1835,20437,1880,20976,1903,20447,1951,...,1950,21138,268514,266056,272873,301725,308690,362431,445903,467222
11,은평구,1402.0,9994.0,1433,10178,1415,10669,1405,9874,1430,...,1469,10058,346473,351538,356125,376600,387513,438344,537430,601337
12,서대문구,1023.0,14852.0,1008,15677,1021,15984,1040,17686,1078,...,1086,18651,358329,357814,362929,380743,392700,486250,611583,643739
13,마포구,1400.0,14959.0,1505,14402,1533,15479,1545,15294,1609,...,1742,15637,499905,495881,505372,531465,544056,657137,839735,986221
14,양천구,2215.0,13971.0,2245,14467,2285,15066,2280,14521,2366,...,2376,14974,532578,524647,535971,586667,611853,705708,808806,876286
15,강서구,1547.0,11493.0,1568,12020,1622,13237,1701,13163,1787,...,1844,14257,364657,357145,357000,416309,447178,481953,583185,615250
16,구로구,1096.0,9566.0,1159,9739,1143,10342,1202,10180,1204,...,1231,10747,335354,334102,335592,363929,374980,424241,526882,553669
17,금천구,606.0,5176.0,624,5203,603,5285,651,5096,675,...,702,6307,273241,271638,274034,299862,308431,348900,404297,514411
18,영등포구,1183.0,8507.0,1277,9181,1281,9207,1253,9097,1251,...,1260,8754,492112,472469,483323,517323,532448,589568,777065,811102
19,동작구,1181.0,12443.0,1186,12770,1170,13506,1211,14430,1215,...,1264,15755,448610,466674,477547,509035,524395,642030,807327,835058
20,관악구,1217.0,13967.0,1252,14117,1229,15206,1239,14289,1227,...,1191,16210,364913,372100,374613,395125,410388,423337,496558,510957
21,서초구,2147.0,18102.0,2338,18415,2452,21110,2439,20679,2529,...,2615,21404,907574,877917,898250,1036954,1059526,1306195,1555515,1775269
22,강남구,3179.0,25131.0,3584,27451,3718,29180,3765,28713,3850,...,3838,29182,912800,906300,931631,1060831,1110273,1418398,1617961,1758527
23,송파구,2162.0,17155.0,2140,17033,2253,17964,2287,17998,2299,...,2340,18609,695595,722548,735460,796921,815391,1032208,1113576,1256877
24,강동구,1507.0,10387.0,1501,10690,1466,10736,1475,10803,1479,...,1490,10844,450912,450088,463137,503922,492637,572700,735167,787716

In [236]:
df2 # 부동산 / 학원수

,자치구,2013사업체수,2013종사자수,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,...,2018사업체수,2018종사자수,2013매매가,2014매매가,2015매매가,2016매매가,2017매매가,2018매매가,2019매매가,2020매매가
0,종로구,866.0,12325.0,885,12303,876,13646,880,13130,852,...,850,13504,499805,479337,481884,504337,513023,602125,710411,1022319
1,중구,510.0,7644.0,516,8270,508,9983,481,8849,454,...,471,8321,493920,502759,509648,545037,554130,623017,775667,795743
2,용산구,509.0,7631.0,527,7202,541,8129,539,7581,539,...,550,7452,807000,761439,750030,791288,813773,1080385,1378500,1389939
3,성동구,745.0,10030.0,760,9885,785,11076,810,10837,886,...,961,11371,439910,447987,456859,492987,503218,680771,881926,899118
4,광진구,1132.0,12597.0,1114,12507,1100,13897,1136,13848,1159,...,1183,14139,630606,600879,608515,654955,668409,765921,902974,1014402
5,동대문구,925.0,14743.0,934,14877,945,15933,959,15544,985,...,1000,16243,356423,349817,354500,389744,398415,447890,593904,652774
6,중랑구,898.0,7620.0,926,7838,880,7874,911,7857,922,...,936,7773,300176,296329,297434,312566,315100,353115,444432,451372
7,성북구,1304.0,22343.0,1304,21230,1302,23211,1337,20637,1372,...,1382,21481,369468,362592,365092,395602,407439,447027,558217,589518
8,강북구,701.0,5886.0,709,5813,662,5694,685,5676,683,...,684,5871,323917,318317,321167,346317,346422,385643,478758,495000
9,도봉구,975.0,7358.0,958,7279,942,7560,931,7257,960,...,962,7537,291208,285635,289167,307792,313396,350782,431198,420883
10,노원구,1810.0,19966.0,1835,20437,1880,20976,1903,20447,1951,...,1950,21138,268514,266056,272873,301725,308690,362431,445903,467222
11,은평구,1402.0,9994.0,1433,10178,1415,10669,1405,9874,1430,...,1469,10058,346473,351538,356125,376600,387513,438344,537430,601337
12,서대문구,1023.0,14852.0,1008,15677,1021,15984,1040,17686,1078,...,1086,18651,358329,357814,362929,380743,392700,486250,611583,643739
13,마포구,1400.0,14959.0,1505,14402,1533,15479,1545,15294,1609,...,1742,15637,499905,495881,505372,531465,544056,657137,839735,986221
14,양천구,2215.0,13971.0,2245,14467,2285,15066,2280,14521,2366,...,2376,14974,532578,524647,535971,586667,611853,705708,808806,876286
15,강서구,1547.0,11493.0,1568,12020,1622,13237,1701,13163,1787,...,1844,14257,364657,357145,357000,416309,447178,481953,583185,615250
16,구로구,1096.0,9566.0,1159,9739,1143,10342,1202,10180,1204,...,1231,10747,335354,334102,335592,363929,374980,424241,526882,553669
17,금천구,606.0,5176.0,624,5203,603,5285,651,5096,675,...,702,6307,273241,271638,274034,299862,308431,348900,404297,514411
18,영등포구,1183.0,8507.0,1277,9181,1281,9207,1253,9097,1251,...,1260,8754,492112,472469,483323,517323,532448,589568,777065,811102
19,동작구,1181.0,12443.0,1186,12770,1170,13506,1211,14430,1215,...,1264,15755,448610,466674,477547,509035,524395,642030,807327,835058
20,관악구,1217.0,13967.0,1252,14117,1229,15206,1239,14289,1227,...,1191,16210,364913,372100,374613,395125,410388,423337,496558,510957
21,서초구,2147.0,18102.0,2338,18415,2452,21110,2439,20679,2529,...,2615,21404,907574,877917,898250,1036954,1059526,1306195,1555515,1775269
22,강남구,3179.0,25131.0,3584,27451,3718,29180,3765,28713,3850,...,3838,29182,912800,906300,931631,1060831,1110273,1418398,1617961,1758527
23,송파구,2162.0,17155.0,2140,17033,2253,17964,2287,17998,2299,...,2340,18609,695595,722548,735460,796921,815391,1032208,1113576,1256877
24,강동구,1507.0,10387.0,1501,10690,1466,10736,1475,10803,1479,...,1490,10844,450912,450088,463137,503922,492637,572700,735167,787716

In [259]:
df분석2013 = pd.DataFrame(df2['2013매매가'])

In [252]:
list(df['2013(총합)'].values)

[13.0,
 39.0,
 nan,
 12.0,
 83.0,
 nan,
 nan,
 41.0,
 4.0,
 19.0,
 23.0,
 50.0,
 2.0,
 nan,
 53.0,
 60.0,
 30.0,
 nan,
 nan,
 nan,
 nan,
 56.0,
 78.0,
 18.0,
 30.0]

In [260]:
df분석2013['2013총합'] = [13.0,
 39.0,
 np.nan,
 12.0,
 83.0,
 np.nan,
 np.nan,
 41.0,
 4.0,
 19.0,
 23.0,
 50.0,
 2.0,
 np.nan,
 53.0,
 60.0,
 30.0,
 np.nan,
 np.nan,
 np.nan,
 np.nan,
 56.0,
 78.0,
 18.0,
 30.0]

In [261]:
df분석2013.corr()

          2013매매가    2013총합
2013매매가  1.000000  0.544485
2013총합   0.544485  1.000000

In [265]:
df = pd.read_excel('D:\\BigData\\project\\High_school\\data\\서울대출신고등학교수정1.xlsx',index_col=0)

In [267]:
df.columns

Index(['학교명', '2020(총합)', '2020(정시)', '2020(수시)', '2019(총합)', '2019(정시)',
       '2019(수시)', '2018(총합)', '2018(정시)', '2018(수시)', '2017(총합)', '2017(정시)',
       '2017(수시)', '2016(총합)', '2016(정시)', '2016(수시)', '2015(총합)', '2015(정시)',
       '2015(수시)', '2014(총합)', '2014(정시)', '2014(수시)', '2013(총합)', '2013(정시)',
       '2013(수시)', '위도', '경도', '주소', '시,구'],
      dtype='object')

In [268]:
df = df.groupby('시,구')['2020(총합)', '2020(정시)', '2020(수시)', '2019(총합)', '2019(정시)',
       '2019(수시)', '2018(총합)', '2018(정시)', '2018(수시)', '2017(총합)', '2017(정시)',
       '2017(수시)', '2016(총합)', '2016(정시)', '2016(수시)', '2015(총합)', '2015(정시)',
       '2015(수시)', '2014(총합)', '2014(정시)', '2014(수시)', '2013(총합)', '2013(정시)',
       '2013(수시)'].sum()

<ipython-input-268-183cfbbc54d4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df = df.groupby('시,구')['2020(총합)', '2020(정시)', '2020(수시)', '2019(총합)', '2019(정시)',

In [269]:
df = df.reindex(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구'])

In [231]:
df.to_excel('D:\\BigData\\project\\High_school\\data\\구별입시현황.xlsx')

In [235]:
df  # 입시자료

,2020(총합),2020(정시),2020(수시),2019(총합),2019(정시),2019(수시),2018(총합),2018(정시),2018(수시),2017(총합),...,2016(수시),2015(총합),2015(정시),2015(수시),2014(총합),2014(정시),2014(수시),2013(총합),2013(정시),2013(수시)
"시,구",,,,,,,,,,,,,,,,,,,,,
종로구,18.0,3.0,15.0,23.0,11.0,12.0,20.0,8.0,12.0,19.0,...,5.0,14.0,8.0,6.0,10.0,5.0,5.0,13.0,5.0,8.0
중구,84.0,11.0,73.0,74.0,18.0,56.0,67.0,20.0,47.0,32.0,...,39.0,44.0,10.0,34.0,41.0,7.0,34.0,39.0,4.0,35.0
용산구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성동구,7.0,1.0,6.0,5.0,4.0,1.0,6.0,2.0,4.0,3.0,...,7.0,8.0,3.0,5.0,9.0,3.0,6.0,12.0,3.0,9.0
광진구,58.0,23.0,35.0,53.0,20.0,33.0,50.0,14.0,36.0,55.0,...,41.0,79.0,31.0,48.0,95.0,32.0,63.0,83.0,44.0,39.0
동대문구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중랑구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
성북구,27.0,1.0,26.0,23.0,1.0,22.0,17.0,1.0,16.0,31.0,...,28.0,32.0,4.0,28.0,35.0,8.0,27.0,41.0,10.0,31.0
강북구,8.0,3.0,5.0,11.0,5.0,6.0,10.0,5.0,5.0,3.0,...,3.0,4.0,2.0,2.0,7.0,3.0,4.0,4.0,2.0,2.0
도봉구,22.0,9.0,13.0,23.0,9.0,14.0,19.0,9.0,10.0,15.0,...,15.0,27.0,8.0,19.0,22.0,5.0,17.0,19.0,2.0,17.0
노원구,12.0,1.0,11.0,17.0,10.0,7.0,20.0,6.0,14.0,12.0,...,19.0,20.0,7.0,13.0,15.0,2.0,13.0,23.0,5.0,18.0
은평구,71.0,11.0,60.0,54.0,4.0,50.0,58.0,5.0,53.0,56.0,...,56.0,59.0,9.0,50.0,66.0,10.0,56.0,50.0,3.0,47.0
서대문구,5.0,1.0,4.0,0.0,0.0,0.0,7.0,4.0,3.0,2.0,...,0.0,6.0,4.0,2.0,2.0,0.0,2.0,2.0,1.0,1.0
마포구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
양천구,41.0,13.0,28.0,34.0,9.0,25.0,34.0,13.0,21.0,49.0,...,33.0,55.0,21.0,34.0,41.0,10.0,31.0,53.0,17.0,36.0
강서구,50.0,12.0,38.0,46.0,6.0,40.0,47.0,11.0,36.0,37.0,...,38.0,52.0,16.0,36.0,56.0,14.0,42.0,60.0,30.0,30.0
구로구,22.0,1.0,21.0,21.0,1.0,20.0,27.0,6.0,21.0,15.0,...,7.0,25.0,3.0,22.0,42.0,1.0,41.0,30.0,0.0,30.0
금천구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
영등포구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
동작구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
관악구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
서초구,86.0,52.0,34.0,81.0,41.0,40.0,82.0,44.0,38.0,88.0,...,31.0,82.0,49.0,33.0,59.0,27.0,32.0,56.0,23.0,33.0
강남구,91.0,36.0,55.0,97.0,47.0,50.0,94.0,53.0,41.0,87.0,...,30.0,75.0,43.0,32.0,71.0,27.0,44.0,78.0,36.0,42.0
송파구,18.0,4.0,14.0,19.0,5.0,14.0,15.0,1.0,14.0,24.0,...,14.0,18.0,6.0,12.0,21.0,5.0,16.0,18.0,11.0,7.0
강동구,42.0,9.0,33.0,35.0,11.0,24.0,42.0,11.0,31.0,36.0,...,32.0,42.0,10.0,32.0,43.0,11.0,32.0,30.0,5.0,25.0