In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import MarkerCluster

In [3]:
import matplotlib as mpl
import matplotlib.font_manager as fm
mpl.rcParams['axes.unicode_minus']= False
path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [9]:
pd.read_excel('D:\\BigData\\project\\High_school\\data\\병합최종본.xlsx',index_col=0)

,자치구,2013사업체수,2013종사자수,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,...,2017(총합),2018(정시),2018(수시),2018(총합),2019(정시),2019(수시),2019(총합),2020(정시),2020(수시),2020(총합)
9,중구,510,7644,516,8270,508,9983,481,8849,454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,중구,510,7644,516,8270,508,9983,481,8849,454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,중구,510,7644,516,8270,508,9983,481,8849,454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,중구,510,7644,516,8270,508,9983,481,8849,454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,중구,510,7644,516,8270,508,9983,481,8849,454,...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,강동구,1507,10387,1501,10690,1466,10736,1475,10803,1479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,강동구,1507,10387,1501,10690,1466,10736,1475,10803,1479,...,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,강동구,1507,10387,1501,10690,1466,10736,1475,10803,1479,...,NaN,11.0,31.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
143,강동구,1507,10387,1501,10690,1466,10736,1475,10803,1479,...,NaN,NaN,NaN,NaN,11.0,24.0,35.0,NaN,NaN,NaN
144,강동구,1507,10387,1501,10690,1466,10736,1475,10803,1479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,33.0,42.0

In [8]:
df.자치구.drop_duplicates().to_list()

['중구',
 '용산구',
 '성동구',
 '광진구',
 '동대문구',
 '중랑구',
 '성북구',
 '강북구',
 '도봉구',
 '노원구',
 '은평구',
 '서대문구',
 '마포구',
 '양천구',
 '강서구',
 '구로구',
 '금천구',
 '영등포구',
 '동작구',
 '관악구',
 '서초구',
 '강남구',
 '송파구',
 '강동구']

In [17]:
df[['자치구','2013사업체수','2013부동산']].drop_duplicates().corr()

          2013사업체수   2013부동산
2013사업체수  1.000000 -0.722928
2013부동산  -0.722928  1.000000

In [310]:
df['2013부동산'] /df[(df.자치구=='은평구')]['2013부동산'][68]

9      0.978964
10     0.978964
11     0.978964
12     0.978964
13     0.978964
         ...
140    0.920680
141    0.920680
142    0.920680
143    0.920680
144    0.920680
Name: 2013부동산, Length: 136, dtype: float64

In [309]:
df[(df.자치구=='은평구')]['2013부동산'][68]

94.125

###  학원_부동산 비교

In [19]:
학원_부동산 = {}
for i in range(2013,2019) :
    학원_부동산[i] = df[['자치구',str(i)+'사업체수',str(i)+'부동산']].drop_duplicates()

In [21]:
학원_부동산[2013].corr()

          2013사업체수   2013부동산
2013사업체수  1.000000 -0.722928
2013부동산  -0.722928  1.000000

In [23]:
for i in range(2013,2019) :
    print(학원_부동산[i].corr())

          2013사업체수   2013부동산
2013사업체수  1.000000 -0.722928
2013부동산  -0.722928  1.000000
          2014사업체수   2014부동산
2014사업체수  1.000000 -0.746333
2014부동산  -0.746333  1.000000
          2015사업체수   2015부동산
2015사업체수  1.000000 -0.734125
2015부동산  -0.734125  1.000000
          2016사업체수  2016부동산
2016사업체수   1.00000 -0.72872
2016부동산   -0.72872  1.00000
          2017사업체수   2017부동산
2017사업체수  1.000000 -0.531127
2017부동산  -0.531127  1.000000
          2018사업체수   2018부동산
2018사업체수  1.000000  0.714438
2018부동산   0.714438  1.000000

In [29]:
df.head(1)

,자치구,2013사업체수,2013종사자수,2014사업체수,2014종사자수,2015사업체수,2015종사자수,2016사업체수,2016종사자수,2017사업체수,...,2017(총합),2018(정시),2018(수시),2018(총합),2019(정시),2019(수시),2019(총합),2020(정시),2020(수시),2020(총합)
9,중구,510,7644,516,8270,508,9983,481,8849,454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###  학교_부동산비교

In [69]:
학교_부동산 = {}
for i in range(2013,2021) :
    학교_부동산[i] = df[['자치구',str(i)+'(정시)',str(i)+'부동산']].drop_duplicates()

In [70]:
for i in range(2013,2021) :
    print(학교_부동산[i].corr())   # 1년차이가 가장 연관이 있으나, 크게 영향을 주지 않음.

          2013(정시)   2013부동산
2013(정시)  1.000000 -0.344841
2013부동산  -0.344841  1.000000
          2014(정시)   2014부동산
2014(정시)  1.000000 -0.421693
2014부동산  -0.421693  1.000000
          2015(정시)   2015부동산
2015(정시)  1.000000 -0.533251
2015부동산  -0.533251  1.000000
          2016(정시)   2016부동산
2016(정시)  1.000000 -0.512038
2016부동산  -0.512038  1.000000
          2017(정시)   2017부동산
2017(정시)  1.000000 -0.436834
2017부동산  -0.436834  1.000000
          2018(정시)   2018부동산
2018(정시)  1.000000  0.521602
2018부동산   0.521602  1.000000
          2019(정시)   2019부동산
2019(정시)  1.000000  0.305562
2019부동산   0.305562  1.000000
          2020(정시)   2020부동산
2020(정시)  1.000000  0.360538
2020부동산   0.360538  1.000000

###  학교_학원비교
    1. 정시입학 & 사업체수랑 연관이 있음(서울전체적기준)

In [144]:
학교_학원 = {}
for i in range(2013,2019) :
    학교_학원[i] = df[['자치구',str(i)+'(정시)',str(i)+'사업체수']].drop_duplicates()

In [145]:
for i in range(2013,2019) :
    print(학교_학원[i].corr())   # 1년차이가 가장 연관이 있으나, 크게 영향을 주지 않음.

          2013(정시)  2013사업체수
2013(정시)  1.000000  0.529922
2013사업체수  0.529922  1.000000
          2014(정시)  2014사업체수
2014(정시)  1.000000  0.518534
2014사업체수  0.518534  1.000000
          2015(정시)  2015사업체수
2015(정시)  1.000000  0.687406
2015사업체수  0.687406  1.000000
          2016(정시)  2016사업체수
2016(정시)  1.000000  0.648845
2016사업체수  0.648845  1.000000
          2017(정시)  2017사업체수
2017(정시)  1.000000  0.681123
2017사업체수  0.681123  1.000000
          2018(정시)  2018사업체수
2018(정시)  1.000000  0.673108
2018사업체수  0.673108  1.000000

# 자치구별 분석

### 사업체 & 입시수

In [205]:
df사업체_총합 = df.groupby('자치구')[새in].mean()
df사업체_총합.head(1)   # index = 자치구 / col = 연도별 정시 & 사업체수

,2013(정시),2013사업체수,2014(정시),2014사업체수,2015(정시),2015사업체수,2016(정시),2016사업체수,2017(정시),2017사업체수,2018(정시),2018사업체수
자치구,,,,,,,,,,,,
강남구,36.0,3179,27.0,3584,43.0,3718,43.0,3765,47.0,3850,53.0,3838

In [215]:
list(df사업체_총합.index)

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '중구',
 '중랑구']

In [206]:
새in=[]
for i in range(2013,2019) :
    새in.append(str(i)+'(정시)')
    새in.append(str(i)+'사업체수')

In [207]:
새사in=[]
for i in range(2013,2019) :
    새사in.append(str(i)+'사업체수')

In [208]:
새정in=[]
for i in range(2013,2019) :
    새정in.append(str(i)+'(정시)')

In [209]:
df강남구 = pd.DataFrame(df사업체_총합.iloc[0][새정in])
df강남구.index = range(2013,2019)

In [210]:
df강남구.columns=['정시']

In [211]:
df강남구1 = pd.DataFrame(df사업체_총합.iloc[0][새사in])
df강남구1.index = range(2013,2019)

In [212]:
df강남구1.columns=['사업체']

In [213]:
pd.concat([df강남구,df강남구1],axis=1)

        정시     사업체
2013  36.0  3179.0
2014  27.0  3584.0
2015  43.0  3718.0
2016  43.0  3765.0
2017  47.0  3850.0
2018  53.0  3838.0

In [214]:
pd.concat([df강남구,df강남구1],axis=1).corr()

           정시       사업체
정시   1.000000  0.621134
사업체  0.621134  1.000000

####  dict 생성 : key는 지역 / values는 입시생과 학원의 corr()

In [261]:
결과dict = {}
임시dict1 = {}    # dict1 : 연도(정시)
임시dict2 = {}    # dict2 : 사업체수

for i in df사업체_총합.index:
    임시dict1[i] = pd.DataFrame(df사업체_총합.loc[i][[0,2,4,6,8,10]])
    임시dict1[i].index=range(2013,2019)
    임시dict1[i].columns=['정시']
    
    임시dict2[i] = pd.DataFrame(df사업체_총합.loc[i][[1,3,5,7,9,11]])
    임시dict2[i].index=range(2013,2019)
    임시dict2[i].columns=['사업체수']
    
    결과dict[i] =  pd.concat([임시dict1[i],임시dict2[i]],axis=1).corr().iloc[0,1]

In [221]:
df사업체_총합.loc['강남구']  # i = 강남구~

2013(정시)      36.0
2013사업체수    3179.0
2014(정시)      27.0
2014사업체수    3584.0
2015(정시)      43.0
2015사업체수    3718.0
2016(정시)      43.0
2016사업체수    3765.0
2017(정시)      47.0
2017사업체수    3850.0
2018(정시)      53.0
2018사업체수    3838.0
Name: 강남구, dtype: float64

In [237]:
임시dict1['강남구'] = pd.DataFrame(df사업체_총합.loc['강남구'][[0,2,4,6,8,10]])

In [238]:
임시dict1['강남구'].index=range(2013,2019)
임시dict1['강남구'].columns=['정시']

In [239]:
임시dict1['강남구']   # 정시col 완성

        정시
2013  36.0
2014  27.0
2015  43.0
2016  43.0
2017  47.0
2018  53.0

In [240]:
임시dict2['강남구'] = pd.DataFrame(df사업체_총합.loc['강남구'][[1,3,5,7,9,11]])

In [242]:
임시dict2['강남구'].index=range(2013,2019)
임시dict2['강남구'].columns=['사업체수']

In [243]:
임시dict2['강남구']

        사업체수
2013  3179.0
2014  3584.0
2015  3718.0
2016  3765.0
2017  3850.0
2018  3838.0

In [260]:
pd.concat([임시dict1['강남구'],임시dict2['강남구']],axis=1).corr().iloc[0,1]   # 최종 강남구 df

0.6211337370975734

In [300]:
최종dict = {}
for i in 결과dict.keys():
    if 결과dict[i] > 0.5 :
        최종dict[i] = 결과dict[i]

In [301]:
최종dict

{'강남구': 0.6211337370975734,
 '노원구': 0.7004144990897623,
 '서대문구': 0.6232719786895167,
 '서초구': 0.7592493103920201}

# 강남구, 노원구, 서대문구, 서초구 만 추출

In [315]:
df[df.자치구.isin(['강남구','노원구','서대문구','서초구'])].to_excel('D:\\BigData\\project\\High_school\\data\\병합(4구역).xlsx')