## 2장 pptx

In [1]:
a = 102
isinstance(a, int)

True

In [2]:
import math
math. ceil(1.2)

2

In [3]:
math. floor(1.9)

1

In [4]:
str1 = 'nh' # 한줄 주석
'''여러줄
주석을 
사용하는 것이쥬'''
print(str1)

nh

##  3장 pptx

In [5]:
len12 = 'shghsghsdlghksghskladfksjfksaljfksfjksafksjafskf\
skfjkgjsldgksldgjlg'

print(len12)

shghsghsdlghksghskladfksjfksaljfksfjksafksjafskfskfjkgjsldgksldgjlg

In [6]:
str1 = 'abc'
num1 = 123

print('%s is str, %d is number' % (str1, num1))

abc is str, 123 is number

In [7]:
num2 = 2828.123
num3 = 228282.3341

print('Y\'s score is %0.1f and K\'s score is %0.2f' % (num2, num3))

Y's score is 2828.1 and K's score is 228282.33

###  abs(숫자) = 절대값
### divmod(x, y) = (x//y, x%y)
### pow(x,y) = x^y

In [8]:
print(abs(-3.8))
print(divmod(10,3))
print(pow(3,5))

3.8
(3, 1)
243

In [9]:
sam2 = 'sample str'
sam2.upper()

'SAMPLE STR'

In [10]:
sam2.lower()

'sample str'

In [11]:
len(sam2)

10

In [12]:
subject = 'programming'
len(subject)

11

In [13]:
sam2. count('s')

2

In [14]:
sam2. find('t')

8

In [15]:
L1 = ['1','2','3','4','5']
' '.join(L1)

'1 2 3 4 5'

In [16]:
str3 = sam2. split()
str3

['sample', 'str']

### tuple, set

In [17]:
L = (1,2,3,4,5)  # tuple - ()
M = (2,5,6,7,8)
K = (1,)         # tuple 1개 원소일 때는 ','를 써야함

In [18]:
L + M

(1, 2, 3, 4, 5, 2, 5, 6, 7, 8)

In [19]:
L. index(4)

3

In [20]:
L. count(2)

1

In [21]:
a=1; b=2; c=3
print(a,b,c)

1 2 3

In [22]:
a,b,c

(1, 2, 3)

In [23]:
(a,b,c)

(1, 2, 3)

In [24]:
print('sdsdas')

# sadasdd

sdsdas

In [25]:
import math

In [26]:
math.ceil(1.2)

2

In [27]:
math.floor(1.2)

1

In [28]:
name = 'kim'
score = 90

print('%s is get %d socre' % (name, score))

kim is get 90 socre

In [29]:
x = input('ㅇㅇ = ')
print(x)

ㅇㅇ = 1
1

In [30]:
a = [1,2,3,4,5]
a.insert(4,2)
a

[1, 2, 3, 4, 2, 5]

In [31]:
type(range(5))

range

In [32]:
range(5)

range(0, 5)

In [33]:
i = range(5)
i

range(0, 5)

###  반복문

In [34]:
text1 = 'python is fun!!!'

In [35]:
text2 = text1[::2]
text2

'pto sfn!'

In [36]:
[i for i in text1[::2]]

['p', 't', 'o', ' ', 's', 'f', 'n', '!']

In [37]:
range(0, len(text1), 2)

range(0, 16, 2)

In [1]:
c = 0
l = []
while c < 5  :
    c += 1
    s = input('입력하세요')
    l.append(s)
l

입력하세요
입력하세요
입력하세요
입력하세요
입력하세요

['', '', '', '', '']

In [39]:
words = ['mountain', 'sea', 'sky', 'river', 'cloud']
keys =['산','바다','하늘','강','구름']

In [40]:
d = {}
for i in range(len(words)) :
    d[words[i]] = keys[i]    

d

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [41]:
nature = {}
for i in range(len(keys)) : 
    nature[words[i]] = keys[i]
nature

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [42]:
text1 = 'jupyter notebook'

In [43]:
text1[2:-1]

'pyter noteboo'

In [44]:
len(text1)

16

In [45]:
text1[:16]

'jupyter notebook'

In [46]:
l = ['o','p','s']

' '.join(l)

'o p s'

In [47]:
nature

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [48]:
l = sorted(nature)
l

['cloud', 'mountain', 'river', 'sea', 'sky']

In [49]:
max(l)

'sky'

In [50]:
L = [4,8,6,2,5,9,6,2]

In [51]:
id(L)

2009901051456

In [52]:
l = (a,b,c)
l = (1,2,3)
c

10

In [53]:
a = int(True)
a

1

In [54]:
a = 'abc\tabd'

In [55]:
a

'abc\tabd'

In [56]:
print(a)

abc	abd

In [57]:
a = {1,2,3,4,5}
a.add(6)

a

{1, 2, 3, 4, 5, 6}

In [58]:
a.pop()

1

In [59]:
a.pop()

2

In [60]:
a.pop()

3

In [61]:
nature

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [62]:
nature['sea']  # 이방법으로 추가도 가능

'바다'

In [63]:
del nature['cloud']

In [64]:
nature

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강'}

In [65]:
l

(1, 2, 3)

In [66]:
l = [1,2,3,4,5]
x = dict.fromkeys(range(5), l)

In [67]:
x

{0: [1, 2, 3, 4, 5],
 1: [1, 2, 3, 4, 5],
 2: [1, 2, 3, 4, 5],
 3: [1, 2, 3, 4, 5],
 4: [1, 2, 3, 4, 5]}

In [68]:
l = 'abcdefg'

In [69]:
l[::-1]

'gfedcba'

In [70]:
l[3:0:-1]

'dcb'

In [71]:
l = [1,2,3,4,5]
l.pop(1)

l

[1, 3, 4, 5]

In [72]:
sum(l)

13

In [73]:
max(l)

5

In [74]:
sum(l)/len(l)

3.25

In [75]:
f = open('ban.txt','r')
a = f.readlines()
print(a)
f.close()

['2 45\n', '4 39\n', '1 41\n', '3 40']

In [76]:
f = open('ban.txt', 'r')
for a in f :
    print(a)
f.close()

2 45

4 39

1 41

3 40

In [77]:
f = open('ban.txt','r')
l = []
for a in f : 
    l.append(a)
print(a)
f.close()

3 40

In [78]:
l = []
with open('score.txt','r') as f :
    for a in f :
        l.append(int(a))
print(l)
f.close()

[88, 90, 88, 79, 86]

In [79]:
with open('score.txt','r') as f :
    a = f.read()
print(a)

88
90
88
79
86

In [80]:
f = open('data.txt', 'r')
a = f.read()
print(a)
f.close()

4 9 2 3
1 3
9 5 4 8 2
3 7 6

In [81]:
f= open('data.txt', 'r')
a = f.readlines()
print(a)
f.close()

['4 9 2 3\n', '1 3\n', '9 5 4 8 2\n', '3 7 6']

In [82]:
l = []
f = open('data.txt', 'r')
for a in f :
    print(a)
f.close()

4 9 2 3

1 3

9 5 4 8 2

3 7 6

In [83]:
l = []
with open('data.txt', 'r') as f :
    for a in f:
        l.append([int(x) for x in a.split()])
print(l)

[[4, 9, 2, 3], [1, 3], [9, 5, 4, 8, 2], [3, 7, 6]]

In [84]:
l = []
k = []
with open('data.txt', 'r') as f :
    for a in f :
        for x in a.split() : 
            k.append(int(x))
            l.append(k)
print(l)

[[4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6], [4, 9, 2, 3, 1, 3, 9, 5, 4, 8, 2, 3, 7, 6]]

In [85]:
l = []
with open('data.txt', 'r') as f :
    for a in f :
        l.append([int(x) for x in a.split()])
print()

In [86]:
l = []
f = open('data.txt','r')
a = f. readline()
while a : 
    print(a)
    a = f. readline()

4 9 2 3

1 3

9 5 4 8 2

3 7 6

In [87]:
l = []
k = []
with open('data.txt', 'r') as f :
    for a in f:
        for x in a.split() :
            int(x)
        l.append(k)
print(l)

[[], [], [], []]

In [88]:
l = []
with open('data.txt', 'r') as f :
    for a in f :
        l.append([])

In [89]:
sol = ['태양','수성','금성','지구','화성','목성','지구']

sol1 = ['토성','천황성','해왕성']

planet = '지구'

In [90]:
with open('data.txt', 'r') as f :
    for a in f:
        for x in a.split() :
            int(x)
        l.append(k)
print(l)

[[], [], [], [], [], [], [], []]

In [91]:
with open('test.txt', 'r') as f :
    a = f.read()
    print(a)

문장을 변경합시다.
내일은 금요일

오늘은 목요일
오늘도 4시간 남았다아아아아

In [92]:
with open('test.txt', 'r') as f :
    for a in f :
        print(a)

문장을 변경합시다.

내일은 금요일



오늘은 목요일

오늘도 4시간 남았다아아아아

In [93]:
f = open('test.txt', 'r')
a = f.readline()
while a :
    print(a)
    a= f.readline()

문장을 변경합시다.

내일은 금요일



오늘은 목요일

오늘도 4시간 남았다아아아아

In [94]:
f = open('test.txt', 'w')
f.write('''문장을 변경합시다.
내일은 금요일

오늘은 목요일
오늘도 4시간 남았다아아아아''')

43

In [97]:
f = open('test.txt', 'r')
a = f.readlines
for a in f :
    print(a)
f.close()

문장을 변경합시다.

내일은 금요일



오늘은 목요일

오늘도 4시간 남았다아아아아

In [100]:
f = open('test.txt', 'r')
for a in f : 
    a = f.readline()
    print(a)    
f.close()

내일은 금요일

오늘은 목요일

In [99]:
f = open('test.txt', 'r')
for line in f:
    print(line)
f.close()

문장을 변경합시다.

내일은 금요일



오늘은 목요일

오늘도 4시간 남았다아아아아

In [107]:
f = open('score.txt', 'r')
a = f.read()
print(a)
f.close()

88
90
88
79
86

In [112]:
f = open('score.txt','r')
l = []
for i in f :
    l.append(int(i))
f.close()

In [113]:
l

[88, 90, 88, 79, 86]

In [119]:
f = open('score.txt','r')
r = [int(i) for i in f]
f.close()

In [120]:
r

[88, 90, 88, 79, 86]

In [121]:
with open('score.txt','r') as f :
    r = [int(i) for i in f]

In [122]:
r

[88, 90, 88, 79, 86]

## 물어본 문제 (홀수 line이 출력이 안되는 이유?)

In [124]:
with open('data.txt', 'r') as f :
    a = f.read()
print(a)

4 9 2 3
1 3
9 5 4 8 2
3 7 6

In [83]:
l = []
with open('data.txt', 'r') as f :
    for a in f:
        l.append([int(x) for x in a.split()])
print(l)

[[4, 9, 2, 3], [1, 3], [9, 5, 4, 8, 2], [3, 7, 6]]

In [176]:
l = []
with open('data.txt', 'r') as f :
    for a in f :
        l1 = [int(x) for x in a.split()]
        l.append(l1)
print(l)

[[4, 9, 2, 3], [1, 3], [9, 5, 4, 8, 2], [3, 7, 6]]

In [160]:
l1 = []
with open('data.txt', 'r') as f :
    for i in f :
        l2 = i.split('\n')
        print(l2)

['4 9 2 3', '']
['1 3', '']
['9 5 4 8 2', '']
['3 7 6']

In [ ]:
l1 = []
with open('data.txt', 'r') as f :
    for i in f :
        l2 = i.split('\n')
        l3 = [int(j) for j in [0].split()]

In [7]:
d = {}
f = open('ban.txt', 'r')
for i in f :
    k, v = i.split()
    d[k] = v
    print(d)

{'2': '45'}
{'2': '45', '4': '39'}
{'2': '45', '4': '39', '1': '41'}
{'2': '45', '4': '39', '1': '41', '3': '40'}

In [9]:
d = {}
f = open('ban.txt', 'r')
a = f.read()
for line in f : 
f.close()

print(a)

IndentationError: unexpected indent (<ipython-input-9-a2a876014949>, line 7)

In [11]:
def a_(k, e, m) :
    num1 = k + e + m
    avg = num1 / 3

    return avg

In [12]:
a = a_(10, 20, 30)
print(a)

20.0

In [13]:
# enumerate
l = ['red', 'yellow', 'blue']
e = enumerate(l)
el = list(e)
print(el)

[(0, 'red'), (1, 'yellow'), (2, 'blue')]

In [14]:
for i in el : 
    print(i)

(0, 'red')
(1, 'yellow')
(2, 'blue')

In [16]:
for i in el : 
    print(list(i))

[0, 'red']
[1, 'yellow']
[2, 'blue']

In [26]:
el[0][1]

'red'

In [34]:
l1 = []
def change_d(l) :
    for i in range(len(l)) :
        a = l[i][0]
        b = l[i][1]
        l1.append((b,a))
    return l1

In [35]:
a = change_d(el)
print(a)

[('red', 0), ('yellow', 1), ('blue', 2)]

In [36]:
isinstance(1, int)

True

In [38]:
def sample1(a, b =10) :
    c = a + b
    return c

In [39]:
a = sample1(10)
print(a)

20

In [40]:
a = sample1(10, 5)
print(a)

15

In [41]:
def vol(x,y,z) : 
    return (x+1)*(y+2)*(z+3)

In [42]:
vol(1,3,5)

80

In [43]:
vol(1,2,3)

48

In [44]:
vol(y=1, z=2, x=3)

60

In [45]:
vol(3,1,2)

60

In [46]:
vol(1,z=3,y=2)

48

In [ ]:
vol

In [47]:
add1 = lambda x, y : x+y

In [48]:
add1(2,3)

5

In [49]:
add1 2,3

SyntaxError: invalid syntax (<ipython-input-49-bb74eb2c289f>, line 1)

In [50]:
add1('hello', 'world')

'helloworld'