### cell 선택 > a => 새로운 cell 위로 추가
### cell 선택 > b => 새로운 cell 아래로 추가

### string

In [2]:
text1 = 'python'
num = 123456
num1 = '123456'
text1 = 'python world'

### 여러줄 문자열 => ''' '''

In [3]:
text = '''
hello
world
python is fun!'''

In [4]:
text

'\nhello\nworld\npython is fun!'

In [5]:
s = "hello 'python'"
s = 'hello "python"'
s

'hello "python"'

### index

In [6]:
text = 'python programming'

#### g 출력

In [7]:
text[10]

'g'

#### n 출력

In [8]:
text[5]

'n'

#### tho 출력

In [9]:
text[2:5]

'tho'

In [10]:
text[:6]

'python'

In [11]:
text[6:]

' programming'

In [14]:
text[1:19:2]

'yhnpormig'

In [15]:
't' in text

True

In [16]:
's' in text

False

In [17]:
text1 = 'A tale that was no right'
text2 = '이 또한 지나가리라'

* 1. 'e'를 출력
* 2. '라'를 출력
* 3. 'ale'를 출력
* 4. '가리라'를 출력
* 5. text1에서 'tale'에 있는지 확인
* 6. text2의 원소의 길이를 출력
* 7. text2에서 짝수인 인덱스 값을 출력
* 8. text1에서 뒤에 5개 요소 출력
* 9. text2에서 '또한'을 출력
* 10. text1과 text2를 space로 이어 붙이시오.
* 11. text1을 3번 출력

In [36]:
print(text1[5])
print(text2[-1])
print(text1[3:6])
print(text2[-3:])

e
라
ale
가리라

In [20]:
'tale' in text1

True

In [21]:
len(text2)

10

In [42]:
print(text2[::2])
print(text1[-5:])
print(text2[2:4])
print(text1 +' ' + text2)
print(text1*3)

이또 나리
right
또한
A tale that was no right 이 또한 지나가리라
A tale that was no rightA tale that was no rightA tale that was no right

In [43]:
text = 'slice wonderland'

In [44]:
text.upper()

'SLICE WONDERLAND'

In [45]:
text.lower()

'slice wonderland'

In [46]:
text.title()

'Slice Wonderland'

In [47]:
state = 'mississippi'

In [48]:
state.count('s')

4

In [49]:
state.count('ssi')

2

In [51]:
state.count('s', 5)     # 5번 인덱스부터 몇 개 존재?

2

In [52]:
state.count('s', 3, 10)

3

In [77]:
state.find('s')        # 특정 요소가 몇 번째 인덱스에 존재하는가?
                       # 처음발견되는 인덱스 추출

2

In [79]:
state.find('s', 5)        # 특정 요소가 몇 번째 인덱스에 존재하는가?  & 5번째 인덱스부터 찾기시작

5

In [55]:
state.find('p')

8

In [58]:
l = ['alice', 'bpb', 'cindy']
' '.join(l)   # list의 요소를 이어서 str로 변환

'alice bpb cindy'

In [57]:
'-'.join(l)

'alice-bpb-cindy'

In [59]:
':'.join(l)

'alice:bpb:cindy'

In [64]:
text = 'python is fun!!'

text .split()    # split : 문자열을 나누어서 리스트에 요소를 담아서 리턴.

['python', 'is', 'fun!!']

In [80]:
text = 'python is fun!!'

text .split(' ', 10)

['python', 'is', 'fun!!']

In [62]:
d = '2018/12/25'
d. split('/')

['2018', '12', '25']

### 이메일을 입력받은 후 => '당신의 아이디는 ***입니다.'

In [71]:
email = input('이메일을 입력하세요. =')
email.split('@')

이메일을 입력하세요. =aaa@dddd.ss

['aaa', 'dddd.ss']

In [72]:
email = input('이메일을 입력하세요. =')
temp = email.split('@')
temp[0]

이메일을 입력하세요. =aaa@dsda.sdd

'aaa'

In [75]:
'당신의 아이디는 {}니다.'.format(temp[0])

'당신의 아이디는 aaa니다.'

In [83]:
# 주민번호를 입력받은 후
# 당신의 출생 년도는 **, 월은 **, 일은 **, 당신의 나이는 **, 주민번호의 길이는 **입니다.

In [111]:
num1 = input('주민번호를 입력하세요 : ')
year = '19'+num1[0:2]
print('출생 년도 =', year)
mon = num1[2:4]
print('월 = ', mon)
day = num1[4:6]
print('일 = ', day)
age = 2020 - int(year)
print('나이 = ', 2020 - int(year))
l = len(num1) - 1
print('주민번호 길이 = ', len(num1) - 1)

주민번호를 입력하세요 : 941205-1648653
출생 년도 = 1994
월 =  12
일 =  05
나이 =  26
주민번호 길이 =  13

In [110]:
'당신의 출생 년도는 {}, 월은 {}, 일은 {}, 당신의 나이는 {}, 주민번호의 길이는 {}입니다.'\
.format(year, mon, day, age, l)

'당신의 출생 년도는 1994, 월은 05, 일은 25, 당신의 나이는 26, 주민번호의 길이는 13입니다.'

### list

In [114]:
score = [80, 90, 75, 'python', 'hello', 75.3, True]

In [113]:
score[3]

'python'

In [115]:
score[-2]

75.3

In [116]:
score[2] = 100
score

[80, 90, 100, 'python', 'hello', 75.3, True]

In [117]:
score[3][2:4]

'th'

In [118]:
len(score[4])

5

#### 빈 리스트
* L = []  or L = list()

In [120]:
score[1:4]

[90, 100, 'python']

In [121]:
score[:3]

[80, 90, 100]

In [122]:
score[3:]

['python', 'hello', 75.3, True]

In [123]:
score[2: 7: 3]

[100, 75.3]

In [124]:
L1 = [1,2,3,4,5,6]
L2 = [4,7]

In [125]:
L1 + L2

[1, 2, 3, 4, 5, 6, 4, 7]

In [126]:
L2 * 2

[4, 7, 4, 7]

In [128]:
5 in L1

True

In [129]:
100 in L1

False

In [130]:
len(L1)

6

In [131]:
L = [6, 8, 2, 9, 5]

In [132]:
sum(L)

30

In [135]:
sorted(L)  # 정렬 : 원본 반영 안됨, 정렬결과만 출력

[2, 5, 6, 8, 9]

In [136]:
L.sort() # 정렬 : 원본까지 반영됨.

In [137]:
L

[2, 5, 6, 8, 9]

In [139]:
L. append(100)

In [140]:
L. append('python')

In [141]:
L

[2, 5, 6, 8, 9, 100, 'python']

In [142]:
L.insert(1,77)

In [143]:
L

[2, 77, 5, 6, 8, 9, 100, 'python']

In [144]:
L.append(100)
L.count(100)

2

In [145]:
L

[2, 77, 5, 6, 8, 9, 100, 'python', 100]

In [146]:
L.pop(1)

77

In [147]:
L

[2, 5, 6, 8, 9, 100, 'python', 100]

In [148]:
L.remove(100)
L

[2, 5, 6, 8, 9, 'python', 100]

In [149]:
L.index('python')

5

In [151]:
L.reverse()
L

[100, 'python', 9, 8, 6, 5, 2]

In [152]:
L. clear()

In [153]:
L

[]

In [154]:
del L

In [156]:
score1 = score.copy()

In [157]:
score1

[80, 90, 100, 'python', 'hello', 75.3, True]

### List Exercise
     ** solarsys = ['태양', '수성', '금성' '지구', '화성', '목성'. '지구']
     ** solarsys1 = ['토성', '천왕성', '해왕성']
         1) 행성의 이름을 입력받은 후 solarsys에 있는지 확인하시오.
         2) 입력받은 행성이 몇 번재 인덱스에 있는지 확인하시오.
         3) 입력받은 행성을 solarsys의 맨 마지막에 추가하시오
         ** 다음의 문제는 solarsys list 기준으로 풀이하시오
         4) ['수성', '금성,' '지구']를 출력하시오
         5) '지구'의 위치 인덱스를 출력하시오
         6) '화성'을 '해왕성' 으로 변경하시오
         7) '수성'자리에 '명왕성'을 입력하시오.
         8) '토성'을 맨 끝에 추가하시오.
         9) '금성'을 제거하시오.
         10) 2번 인덱스 요소를 삭제하시오.
         11) solarsys와 solarsys1을 연결하시오
         12) 내림차순으로 정렬하시오.
         13) 원소의 순서를 반대로 하시오.
         14) solarsys에 '만리장성'이 있는지 확인하시오
         15) solarsys를 3번 반복하시오
         16) solarsys의 길이를 리턴하시오
         17) solarsys의 모든 원소를 지우시오
         18) solarsys 리스트를 삭제하시오

In [11]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '지구']
solarsys1 = ['토성', '천왕성', '해왕성']

In [12]:
plant = input('행성의 이름을 입력하시오. = ')
print(plant in solarsys)

행성의 이름을 입력하시오. = 태양
True

In [13]:
print(solarsys.index(plant))

0

In [14]:
solarsys.append('명왕성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '지구', '명왕성']

In [15]:
print(solarsys[1:4])

['수성', '금성', '지구']

In [16]:
print(solarsys.index('지구'))

3

In [17]:
solarsys[-4] = '해왕성'
print(solarsys)

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구', '명왕성']

In [19]:
solarsys.insert(2,'명왕성')
solarsys

['태양', '수성', '명왕성', '금성', '지구', '해왕성', '목성', '지구', '명왕성']

In [20]:
solarsys.append('토성')
solarsys

['태양', '수성', '명왕성', '금성', '지구', '해왕성', '목성', '지구', '명왕성', '토성']

In [21]:
solarsys.remove('금성')
solarsys

['태양', '수성', '명왕성', '지구', '해왕성', '목성', '지구', '명왕성', '토성']

In [22]:
solarsys.pop(2)
solarsys

['태양', '수성', '지구', '해왕성', '목성', '지구', '명왕성', '토성']

In [23]:
solarsys + solarsys1

['태양', '수성', '지구', '해왕성', '목성', '지구', '명왕성', '토성', '토성', '천왕성', '해왕성']

In [24]:
solarsys.sort()
solarsys

['명왕성', '목성', '수성', '지구', '지구', '태양', '토성', '해왕성']

In [25]:
solarsys.reverse()
solarsys

['해왕성', '토성', '태양', '지구', '지구', '수성', '목성', '명왕성']

In [26]:
'만리장성' in solarsys

False

In [27]:
solarsys * 3

['해왕성',
 '토성',
 '태양',
 '지구',
 '지구',
 '수성',
 '목성',
 '명왕성',
 '해왕성',
 '토성',
 '태양',
 '지구',
 '지구',
 '수성',
 '목성',
 '명왕성',
 '해왕성',
 '토성',
 '태양',
 '지구',
 '지구',
 '수성',
 '목성',
 '명왕성']

In [28]:
len(solarsys)

8

In [29]:
solarsys.clear()
solarsys

[]

In [31]:
del solarsys
solarsys

NameError: name 'solarsys' is not defined

In [32]:
round(5.5)

6