###  Tuple
* 원소를 수정, 삭제, 추가가 안 됨.
* indexing, slicing은 가능

In [2]:
data = (5,3,5,6,5,9)

In [3]:
data[3]

6

In [4]:
data[1:5]

(3, 5, 6, 5)

In [5]:
L = (1,3,5,7,9)
M = (2,4,6,8)

In [6]:
L + M

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [7]:
L * 3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [8]:
3 in L

True

In [9]:
10 in L

False

In [10]:
len(L)

5

In [11]:
L. index(5)

2

In [12]:
L. count(5)

1

In [13]:
L[3] = 10  # tuple은 요소의 수정, 삭제, 추가가 안 됨.

TypeError: 'tuple' object does not support item assignment

### Set
* 집합 = 순서(index)가 없음
* 중복데이터가 없는, unique한 값들로 요소가 구성
* 집합연산

In [18]:
s = {4,2,6,5}

In [19]:
s.remove(6)
s

{2, 4, 5}

In [20]:
s.add(6)
s

{2, 4, 5, 6}

In [22]:
s.add(5) # 중복데이터를 허용하지 않음.
s

{2, 4, 5, 6}

In [23]:
s[3]  # 순서와 인덱스가 없다.

TypeError: 'set' object is not subscriptable

In [24]:
5 in s

True

In [25]:
len(s)

4

In [26]:
s. clear()

In [27]:
s

set()

In [28]:
s = {4,2,6,5}

In [29]:
s. discard(4)
s

{2, 5, 6}

In [31]:
s. remove(10)

KeyError: 10

In [32]:
s. discard(10)
s

{2, 5, 6}

In [33]:
 s = set()  # 요소가 없는 set

In [34]:
L = [1,2,3,5,4,3,2,3,4,3,2]

In [35]:
set(L)

{1, 2, 3, 4, 5}

####  집합연산

In [36]:
a = {1,3,5,7}
b = {1,2,4,6,7,8}

In [37]:
a. union(b)  # 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
a. intersection(b)  # 교집합

{1, 7}

In [40]:
a. difference(b)  # 차집합

{3, 5}

In [44]:
a. symmetric_difference(b)  # 교차차집합

{2, 3, 4, 5, 6, 8}

In [46]:
a. isdisjoint(b)  # 서로소

False

In [47]:
a. issubset(b)  # 부분집합

False

In [48]:
a. issuperset(b)  # 포함하는지 여부

False

### tuple Quiz

In [54]:
myTuple = ('tuple', (1,2,3), [4,5,6])

# 'tuple'을 출력하세요
# '3'을 출력하세요
# '4', '5'를 출력하세요
# (1,2,3)을 출력하세요

In [62]:
print(myTuple[0])     # 1-1
print(myTuple[1][2])  # 1-2
print(myTuple[2][:2]) # 1-3
print(myTuple[1])     # 1-4

tuple
3
[4, 5]
(1, 2, 3)

In [57]:
mytuple = (1,2,3,3,2,1)
yourtuple = (4,5,6)

# 두 tuple을 연결하세요
# mytyple을 3번 반복하세요
# mytuple에 3이 있는지 확인하세요
# mytuple에 3의 갯수를 확인하세요
# mytyple에서 2의 인덱스를 확인하세요
# mytyple의 길이를 출력하세요
# mytyple에서 최대값을 출력하세요
# mytyple의 값의 합을 출력하세요
# mytyple을 오름차순 정력하세요

In [65]:
print(mytuple + yourtuple)    # 2-1
print(mytuple*3)              # 2-2
print(3 in mytuple)           # 2-3
print(mytuple. count(3))      # 2-4
print(mytuple. index(3))      # 2-5
print(len(mytuple))           # 2-6
print(max(mytuple))           # 2-7
print(sum(mytuple))           # 2-8
print(tuple(sorted(mytuple))) # 2-9

(1, 2, 3, 3, 2, 1, 4, 5, 6)
(1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1)
True
2
2
6
3
12
(1, 1, 2, 2, 3, 3)

### set quiz

In [ ]:
# myset이라는 원소가 없는 set을 만드세요
# 'sky'와 'earth'를 요소로 하는 set을 만드세요
# 'moon' 이라는 요소를 추가하세요
# 'sun'이 있는지 확인하세요
# myset의 길이를 출력하세요
# 모든 요소를 삭제하세요

In [79]:
myset = set(); print(myset)
myset = {'earth', 'sky'}; print(myset)
myset.add('moon'); print(myset)
print('sun' in myset)
print(len(myset))
myset.clear(); print(myset)

set()
{'earth', 'sky'}
{'moon', 'earth', 'sky'}
False
3
set()

In [76]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}

# 합집합을 구하세요
# 교집합을 구하세요
# 차집합을 구하세요
# 대칭차집합을 구하세요
# {4,5,6}이 A에 포함되어 있는지 확인하세요
# A가 {4,5,6}에 포함되는지 확인하세요

In [77]:
print(A. union(B))
print(A. intersection(B))
print(A. difference(B))
print(A. symmetric_difference(B))
print({4,5,6}. issubset(A))
print(A. issubset({4,5,6}))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
True
False

In [80]:
# L = [1,2,3,4,3,3,3,4] 리스트에서 unique한 값만 출력하세요
L = [1,2,3,4,3,3,3,4]
set(L)

{1, 2, 3, 4}

### Dictionary (사전, key:value)

In [83]:
D = {'one' : 1, 'two' : 2, 'three' : 3}

In [84]:
D

{'one': 1, 'two': 2, 'three': 3}

In [86]:
D['one']

1

In [87]:
D['three']

3

In [88]:
mydic = {}   # s = set()

In [89]:
mydic

{}

In [91]:
mydic['math'] = 80
mydic

{'math': 80}

In [92]:
mydic['eng'] = 90
mydic

{'math': 80, 'eng': 90}

In [93]:
mydic['math'] = 100
mydic

{'math': 100, 'eng': 90}

In [94]:
mydic['science'] = 70
mydic

{'math': 100, 'eng': 90, 'science': 70}

In [95]:
len(mydic)

3

In [97]:
'kor' in mydic  # key를 기준으로 존재여부 판별

False

In [98]:
'math' in mydic

True

In [99]:
mydic.pop('science')
mydic

{'math': 100, 'eng': 90}

In [100]:
del mydic['math']
mydic

{'eng': 90}

In [101]:
mydic.clear()
mydic

{}

In [117]:
color = {'red' : 1, 'blue' :3}

In [118]:
color. get('blue')

3

In [119]:
color['yellow']

KeyError: 'yellow'

In [120]:
color.get('yellow')

In [121]:
color.get('yellow', 1)

1

In [122]:
color.keys()

dict_keys(['red', 'blue'])

In [123]:
color.items()

dict_items([('red', 1), ('blue', 3)])

In [124]:
color.setdefault('blue', 5)

3

In [125]:
color.setdefault('yellow', 5)

5

In [126]:
color

{'red': 1, 'blue': 3, 'yellow': 5}

In [127]:
color2 = {'pink' : 7}

In [128]:
color.update(color2)
color

{'red': 1, 'blue': 3, 'yellow': 5, 'pink': 7}

### 연속값을 리턴하는 함수 : range

In [137]:
print(list(range(5)))
print()
print(list(range(0,5)))
print()
print(list(range(1,51)))
print()
print(list(range(1,51,3)))
print()
print(list(range(49,0,-3)))

[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

###  형변환 함수

In [138]:
int('75')

75

In [139]:
float('2.5')

2.5

In [140]:
float(10)

10.0

In [141]:
bool(1)  # 0이 아닌 숫자값이 있으면 True

True

In [148]:
bool(0)  # 숫자값이 0이면 False

False

In [146]:
bool([])  # 원소가 없으면 False

False

In [147]:
bool([1,2,3]) # 원소가 있으면 True

True

In [149]:
a = 'hello'

In [150]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [151]:
tuple(a)

('h', 'e', 'l', 'l', 'o')

In [153]:
set(a)

{'e', 'h', 'l', 'o'}

###  Dictionary Quiz

In [216]:
name = {'marry' : 1099, 'sams' : 2111, 'amy' : 2024, 'bob' : 5877}

In [217]:
# marry의 값을 출력하세요.
print(name['marry'])

1099

In [218]:
# key는 'kelly', value는 '7887' 인 새로운 요소를 추가하세요.
name['kelly'] = 7887; print(name)

{'marry': 1099, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887}

In [219]:
# 'marry'의 value를 2000으로 수정하시오.
name['marry'] = 2000; print(name)

{'marry': 2000, 'sams': 2111, 'amy': 2024, 'bob': 5877, 'kelly': 7887}

In [220]:
# 'key'에 'sams'가 포함되어 있는지 확인하세요.
'sams' in name

True

In [221]:
# value에 2111이 있는지 확인하세요
v = name.values()
2111 in v

True

In [222]:
# key값들을 올림차순 정렬해서 출력하세요
k = name. keys()
list(k).sort()
print(k)

dict_keys(['marry', 'sams', 'amy', 'bob', 'kelly'])

In [223]:
sorted(name)

['amy', 'bob', 'kelly', 'marry', 'sams']

In [224]:
# value들의 합을 출력하세요
sum(v)

19899

In [227]:
# key와 value의 튜플 상으로 출력하세요.
print(name.items())

dict_items([('marry', 2000), ('sams', 2111), ('amy', 2024), ('bob', 5877), ('kelly', 7887)])

In [228]:
# 이름을 입력받은 후 해당하는 사람의 점수를 출력하도록 하세요.
i_name = input ('이름을 입력하세요 : ')
print(name[i_name])

이름을 입력하세요 : marry
2000

In [229]:
# 이름을 입력받은 후 해당 사람이 없으면 값 '3355'로 새로운 요소로 추가하도록 하세요
i_name2 = input('이름을 입력하세요 : ')
print(name. setdefault(i_name2, 3355))

이름을 입력하세요 : park
3355

In [214]:
# 'Jane'의 값을 출력하고, 없으면 3000을 출력하도록 하세요
name.get('Jane', 3000)

3000