In [1]:
L = [0,1,2,3,4]

for i in L :
    print(i)

0
1
2
3
4

In [2]:
for i in L : 
    print(i, end = ' ')

0 1 2 3 4

In [3]:
for i in [1,2,3,4] :
    print(i, end = ' ')

1 2 3 4

In [4]:
print(list(range(4)))
print(list(range(2, 20)))
print(list(range(2, 20, 2)))

[0, 1, 2, 3]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
for i in range(4) : 
    print(L[i], end = ' ')

0 1 2 3

In [6]:
len(L)

5

In [7]:
for i in range(len(L)) :
    num = L[i]
    print(num, end = ' ')

0 1 2 3 4

In [8]:
names = ['철수', '영희', '바둑이','귀도', '비단뱀']

for i in range(len(names)) :
    nam = names[i]
    print("{}번 : {}". format(i , nam))

0번 : 철수
1번 : 영희
2번 : 바둑이
3번 : 귀도
4번 : 비단뱀

In [9]:
for i, name in enumerate(names) :
    print('{}번 {}'. format(i, name))

0번 철수
1번 영희
2번 바둑이
3번 귀도
4번 비단뱀

In [10]:
for data in range(1, 10 ,2) :
    print(data+1, data*2)

2 2
4 6
6 10
8 14
10 18

In [11]:
for l in 'python' :
    print(l, end = ' ')

p y t h o n

In [12]:
for l in 'python' :
    print(l.upper(), end = ' ' )

P Y T H O N

In [13]:
for x in [1,2,3,4,5] :
    for y in [2,4,6,8,10] :
        print(x,y,end = ' / ')
    print()

1 2 / 1 4 / 1 6 / 1 8 / 1 10 /
2 2 / 2 4 / 2 6 / 2 8 / 2 10 /
3 2 / 3 4 / 3 6 / 3 8 / 3 10 /
4 2 / 4 4 / 4 6 / 4 8 / 4 10 /
5 2 / 5 4 / 5 6 / 5 8 / 5 10 /

In [14]:
for a in (1,2,3,4):
    for b in (5,6,7) : 
        print(a +b, end  =  ' ')
    print()

6 7 8
7 8 9
8 9 10
9 10 11

In [15]:
for a in {1,2,3}:
    for b in {4,5}:
        print(a,b, end = ' ')
    print()

1 4 1 5
2 4 2 5
3 4 3 5

In [16]:
for a in {1,2,3,4,5} : 
    print(a)

1
2
3
4
5

In [17]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

for x in score :
    print(x, end = ' ')

4 2 1 5 3

In [18]:
for x in score.values() : 
    print(x, end= ' ')

90 80 95 88 92

In [19]:
for x in score.items() :
    print(x, end = ' ')

(4, 90) (2, 80) (1, 95) (5, 88) (3, 92)

###  for은 index활성 활용
### while 은 조건활용

In [20]:
# 1부터 10까지 합을 구하시오.
sum1 = 0

for num1 in range(1, 11) :
    
    sum1 += num1

sum1

55

In [21]:
# 영어모음 : ['a', 'e', 'i', 'o', 'u']
# 아래 text에서 자음의 갯수를 구하시오.

text = 'python programming is fun!!'

num1 = 0

for i in text :
    if i not in ['a', 'e', 'i', 'o', 'u', ' ', '!'] :
        num1 += 1
num1

16

In [22]:
# List Comrehension

L1 = []
for i in range(5) :
    L1.append(i)
L1

[0, 1, 2, 3, 4]

In [23]:
L2 = [x for x in range(5)]
L2

[0, 1, 2, 3, 4]

In [24]:
L1 = []

for i in [1,2,4] :
    for j in [3,5,6] :
        L1.append(i*j)
L1

[3, 5, 6, 6, 10, 12, 12, 20, 24]

In [25]:
L1 = [(i*j) for i in [1,2,4] for j in [3,5,6]]
L1

[3, 5, 6, 6, 10, 12, 12, 20, 24]

###  1~10의 정수 중 짝수를 골라서 list를 생성해라
#### 2가지 방법 모두 사용
#### python 추천은 2번째 방법

In [26]:
L1 = []
for i in range(1,11):
    if i%2 == 0 :
        L1.append(i)
L1

[2, 4, 6, 8, 10]

In [27]:
[i for i in range(1,11) if i%2 == 0]

[2, 4, 6, 8, 10]

### text = 'python is fun!!' 에서 모음만 리스트에 담아서 리턴하시오.
### => for문, list comprehension

In [28]:
text = 'python is fun!!'


L1 = []
m = ['a', 'e', 'i', 'o', 'u']

for i in text :
    if i in m :
        L1.append(i)
L1

['o', 'i', 'u']

In [29]:
L1 = [i for i in text if i in m]
L1

['o', 'i', 'u']

### 1~10 3의 배수만 리스트에 담아서 리턴

In [30]:
L1 = []
l = range(1,11)
for i in l :
    if i%3 == 0:
        L1.append(i)

L1

[3, 6, 9]

In [31]:
L1 = [i for i in l if i %3 == 0]
L1

[3, 6, 9]

### text에서 짝수번 인덱스만 리스트에 담아서 리턴하시오

In [32]:
text = 'python is fun!!!!'
L1 = []

for i in text[::2] :
    L1.append(i)
        
L1

['p', 't', 'o', ' ', 's', 'f', 'n', '!', '!']

In [33]:
L1 = [i for i in text[::2]]
L1

['p', 't', 'o', ' ', 's', 'f', 'n', '!', '!']

In [34]:
# 강사님 답안
text = 'python is fun!!!!'

L1 = []
for i in range(0, len(text), 2) :
    L1. append(text[i])
L1

['p', 't', 'o', ' ', 's', 'f', 'n', '!', '!']

In [35]:
# 1 ~ 100에서 짝수의 합을 구하시오

sum1 = 0

for i in range(1,101):
    if i % 2 == 0 :
        sum1 += i

sum1

2550

In [36]:
sum([i for i in range(1,101) if i%2==0])  # sum(리스트) = 리스트 요소들의 합 추출

2550

###  text에서 각 단어의 길이를 "단어 : 단어길이" 형식으로 출력하시오
* text = "be proud of data analyst"
* ex => be :2

In [37]:
text = "be proud of data analyst"

txt1 = text.split(' ')

for i in txt1 : 
    print('{} : {}'.format(i, len(i) ))

be : 2
proud : 5
of : 2
data : 4
analyst : 7

### color와 things의 모든 요소의 튜플 조합을 리스트에 담으시오

In [38]:
colors = ['red', 'green', 'yellow', 'blue']
things = ['house', 'car', 'tree']

L1 = []
for i in colors :
    for j in things :
        L1.append((i,j))
        
L1

[('red', 'house'),
 ('red', 'car'),
 ('red', 'tree'),
 ('green', 'house'),
 ('green', 'car'),
 ('green', 'tree'),
 ('yellow', 'house'),
 ('yellow', 'car'),
 ('yellow', 'tree'),
 ('blue', 'house'),
 ('blue', 'car'),
 ('blue', 'tree')]

In [39]:
[ (i,j) for i in color for j in things ]

NameError: name 'color' is not defined

### while

#### while 조건식 :
    실행코드1
    실행코드2 
    
* 조건식이 True이면 실행코드를 실행, 조건식이 False이면 실행코드를 중단.

In [52]:
i = 0
while i <= 10:
    print(i, end = ' ')
    i += 1

0 1 2 3 4 5 6 7 8 9 10

In [53]:
# 1 ~ 10 까지 정수의 합을 while문을 통해 구하시오
i = 1
sum1 = 0

while i <= 10 :
    sum1 += i
    i += 1

sum1

55

In [54]:
# 1 ~ 10 까지 정수 중에서 짝수의 합을 while문을 통해 구하시오

i = 1
sum1 = 0

while i <= 10 :
    i += 1
    if i % 2 == 0:
        sum1 += i

sum1

30

### break, continue
#### 1. break
    반복문을 반복실행하다가 break가 실행되면 반복문을 빠져나오게 된다.
#### 2. continue
    반복문을 반복실행하다가 continue가 실행되면 continue아래 코드를 실행하지 않고,
    반복문의 처음으로 돌아와서 반복문을 계속 실행한다.

In [55]:
# break를 사용해서 0-5까지만 출력
i = 0
while i <= 10 :
    print(i, end= ' ')
    i +=1
    if i > 5 : break

0 1 2 3 4 5

In [56]:
i = 0
while i < 10 :
    i += 1
    if i%3 ==0 :
        continue
    print(i)

1
2
4
5
7
8
10

In [57]:
# 아래의 1~10까지 출력하는 코드에서 break와 continue를 활용해서 4,5,6,7만 출력

i = 0
while i < 10 :
    i += 1
    if i < 4 : continue
    if i > 7 : break
    print(i)

4
5
6
7

In [58]:
# break, continue 안쓰는 방법
i = 0
while i < 10 :
    i += 1
    if 4 <= i < 8 :
        print(i)

4
5
6
7

#### 글자의 길이가 4 이상인 단어만 리스트에 담으시오.

In [59]:
words = ['mountain', 'sea', 'sky', 'river', 'cloud']

[i for i in words if len(i)>= 4]

['mountain', 'river', 'cloud']

#### 글자의 길이가 4 이상인 단어의 수는 몇인가?

In [60]:
len([i for i in words if len(i)>= 4])

3

In [61]:
words = ['mountain', 'sea', 'sky', 'river', 'cloud']

num1 = 0
for i in words :
    if len(i)>= 4:
        num1 += 1
num1

3

#### words에서 알파벳순서에 따라
    => 1번 : cloud
    => 2번 : mountain

In [62]:
for i,w in enumerate(sorted(words)):
    print('{}번 : {}'.format(i+1,w))

1번 : cloud
2번 : mountain
3번 : river
4번 : sea
5번 : sky

In [40]:
# 점수를 5회 입력받은 후
# => '점수 평균은 ***입니다.'

num1 = 1
L1 = []

while num1 <= 5 :
    num1 += 1
    s = int(input('점수를 입력해주세요 : '))
    L1.append(s)
    w = sum(L1) 

print('점수 평균은 {}입니다.'.format(w/num1))

점수를 입력해주세요 : 5
점수를 입력해주세요 : 6
점수를 입력해주세요 : 5
점수를 입력해주세요 : 6
점수를 입력해주세요 : 5
점수 평균은 4.5입니다.

In [42]:
# 강사님 답안

sum1 = 0
count = 0

while count < 5 :
    score = int(input('점수를 입력하세요 : '))
    count += 1
    sum1 += score

print('당신의 평균점수는 {}입니다.'.format(sum1/count))

점수를 입력하세요 : 4
점수를 입력하세요 : 6
점수를 입력하세요 : 4
점수를 입력하세요 : 5
점수를 입력하세요 : 6
당신의 평균점수는 5.0입니다.

In [43]:
# words에서 {'montain' : '산', 'sea':'바다', 'sky':'하늘', 'reiver' : '강' , 'cloud' : '구름'}로 
# 전환해서 출력
words = ['mountain', 'sea', 'sky', 'river', 'cloud']

In [45]:
words = ['mountain', 'sea', 'sky', 'river', 'cloud']
keys =['산','바다','하늘','강','구름']

In [46]:
# 강사님답안(1)

nature = dict()

for i in range(len(words)) :
    nature[words[i]] = keys[i]

nature

{'mountain': '산', 'sea': '바다', 'sky': '하늘', 'river': '강', 'cloud': '구름'}

In [47]:
# 모음은 모음끼리, 모음이 아닌 문자열은 별도의 리스트에 각각 담아서 리런하시오.
Text = "Python programming is useful"
L1 = []
L2 = []

for i in Text :
    if i in m :
        L1.append(i)
    else :
        L2.append(i)
        
print(L1)
print(L2)

['o', 'o', 'a', 'i', 'i', 'u', 'e', 'u']
['P', 'y', 't', 'h', 'n', ' ', 'p', 'r', 'g', 'r', 'm', 'm', 'n', 'g', ' ', 's', ' ', 's', 'f', 'l']

In [48]:
# 2중 for를 이용하여 구구단을 출력하시오
t = range(1,10)
for i in t :
    for j in t:
#        print(i,"*",j,'=',i*j, end = ' ')
        print("{1} * {0} = {2:>2}". format(i,j,i*j), end = '    ')

1 * 1 =  1    2 * 1 =  2    3 * 1 =  3    4 * 1 =  4    5 * 1 =  5    6 * 1 =  6    7 * 1 =  7    8 * 1 =  8    9 * 1 =  9    1 * 2 =  2    2 * 2 =  4    3 * 2 =  6    4 * 2 =  8    5 * 2 = 10    6 * 2 = 12    7 * 2 = 14    8 * 2 = 16    9 * 2 = 18    1 * 3 =  3    2 * 3 =  6    3 * 3 =  9    4 * 3 = 12    5 * 3 = 15    6 * 3 = 18    7 * 3 = 21    8 * 3 = 24    9 * 3 = 27    1 * 4 =  4    2 * 4 =  8    3 * 4 = 12    4 * 4 = 16    5 * 4 = 20    6 * 4 = 24    7 * 4 = 28    8 * 4 = 32    9 * 4 = 36    1 * 5 =  5    2 * 5 = 10    3 * 5 = 15    4 * 5 = 20    5 * 5 = 25    6 * 5 = 30    7 * 5 = 35    8 * 5 = 40    9 * 5 = 45    1 * 6 =  6    2 * 6 = 12    3 * 6 = 18    4 * 6 = 24    5 * 6 = 30    6 * 6 = 36    7 * 6 = 42    8 * 6 = 48    9 * 6 = 54    1 * 7 =  7    2 * 7 = 14    3 * 7 = 21    4 * 7 = 28    5 * 7 = 35    6 * 7 = 42    7 * 7 = 49    8 * 7 = 56    9 * 7 = 63    1 * 8 =  8    2 * 8 = 16    3 * 8 = 24    4 * 8 = 32    5 * 8 = 40    6 * 8 = 48    7 * 8 = 56    8 * 8 = 64    9 * 8 = 72    1 * 9 =  9    2 * 9 = 18    3 * 9 = 27    4 * 9 = 36    5 * 9 = 45    6 * 9 = 54    7 * 9 = 63    8 * 9 = 72    9 * 9 = 81

In [51]:
# '''
# *
# **
# ***
# ****
# *****
# '''

In [63]:
for i in range(1,6) : 
    print('*'*i)

*
**
***
****
*****

In [68]:
for i in range(1,6) : 

    print('*'*(6-i))

*****
****
***
**
*

In [70]:
for i in range(1,6) : 
    print(' '*(5-i),'*'*i)

     *
    **
   ***
  ****
 *****

In [72]:
for i in range(1,6) : 

    print(' '*(i-1),'*'*(6-i))

 *****
  ****
   ***
    **
     *