### String

In [1]:
txt1 = 'A tale that was not right'

In [2]:
# 'ale' 를 출력..
txt1[3:6]

'ale'

In [3]:
# 문자열 뒤 5문자출력
txt1[-5:]

'right'

In [4]:
# 'not' 출력
txt1[-9:-6]

'not'

In [6]:
txt1.split()[-2]

'not'

In [7]:
# txt1을 소문자 전환
txt1.lower()

'a tale that was not right'

In [8]:
lower(txt1)

NameError: name 'lower' is not defined

In [9]:
# txt1을 대문자 전환
txt1.upper()

'A TALE THAT WAS NOT RIGHT'

In [10]:
# 'o'가 몇 개 존재하는가?
txt1.count('o')

1

In [11]:
# 'o'가 몇 번 인덱스에 존재하는가?
txt1.find('o')

17

In [12]:
# txt1의 길이는 어떻게 되는가?
len(txt1)

25

In [13]:
# space를 기준으로 나누어서 List에 담으세요..
txt1.split()

['A', 'tale', 'that', 'was', 'not', 'right']

In [14]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

### List

In [15]:
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

In [17]:
# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [18]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [19]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [20]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1, '명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [21]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [22]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [23]:
# 7. '금성'을 제거
sol.remove('금성')
sol

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [24]:
# 9. 인덱스 2번 요소 삭제
sol.pop(2)

'수성'

In [25]:
sol

['태양', '명왕성', '지구', '해왕성', '목성', '지구']

In [26]:
# 10. sol과 sol1을 합치세요
sol + sol1

['태양', '명왕성', '지구', '해왕성', '목성', '지구', '토성', '천황성', '해왕성']

In [28]:
# 11. 내림차순 정렬
sorted(sol, reverse=True)

['해왕성', '태양', '지구', '지구', '목성', '명왕성']

In [29]:
# 12. 오름차순 정렬
sorted(sol)

['명왕성', '목성', '지구', '지구', '태양', '해왕성']

In [30]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [31]:
# 14. so1을 3번 반복하세요
sol * 3

['태양',
 '명왕성',
 '지구',
 '해왕성',
 '목성',
 '지구',
 '태양',
 '명왕성',
 '지구',
 '해왕성',
 '목성',
 '지구',
 '태양',
 '명왕성',
 '지구',
 '해왕성',
 '목성',
 '지구']

In [32]:
# 15. 길이를 출력하세요
len(sol)

6

In [33]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

2

In [34]:
# 17. 모든 원소를 지우세요.
sol.clear()

In [35]:
sol

[]

In [36]:
# 18. sol리스트를 삭제하세요..
del sol

### Tuple

In [37]:
myTuple = ('tuple',(1,2,3),[4,5,6,7,8],'7','8','9')

In [38]:
# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [41]:
# 3을 출력하세요
myTuple[1][2]

3

In [ ]:
# 4,5를 출력하세요

In [44]:
myTuple[2][:2]

[4, 5]

In [45]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [46]:
# tuple의 길이를 리턴하세요(요소의 갯수가 몇개인지)
len(myTuple[0])

5

In [47]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [48]:
# '7'의 인덱스를 출력하세요
myTuple.index('7')

3

In [49]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [50]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [51]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [52]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [53]:
# 인데스 2번에서 총합을 출력하세요
sum(myTuple[2])

30

In [58]:
# 인데스 2번에서 평균을 출력하세요
sum(myTuple[2]) / len(myTuple[2])

6.0

In [57]:
import numpy as np
np.mean(myTuple[2])

6.0

In [60]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse=True)

[8, 7, 6, 5, 4]

### Set

In [61]:
# 원소가 없는 set인 s를 만드세요
s = set()   # s = {} : dict

In [62]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
s

{'earth', 'sky'}

In [63]:
# s에 1,2 두 원소를 추가하세요
s.add(1)
s.add(2)

In [64]:
s

{1, 2, 'earth', 'sky'}

In [65]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [66]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}

In [67]:
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [69]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [70]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [71]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [72]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [73]:
# 집합 B의 길이를 출력
len(B)

6

In [74]:
# 집합 B의 최대값 출력
max(B)

9

In [75]:
# 집합 B의 최소값 출력
min(B)

1

In [76]:
# 집합 B의 합을 출력
sum(B)

30

In [78]:
# 집합 B의 평균출력
sum(B) / len(B)

5.0

In [79]:
# 집합 B의 내림차순 출력
sorted(B, reverse=True)

[9, 8, 7, 3, 2, 1]

In [80]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

### Dictionary

In [81]:
# 'mydict'라는 딕셔너리를 만드세요 
d = {}  # 빈 딕셔너리

In [85]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
d['red'] = 4
d['blue'] = 3
d['green'] = 1
d

{'red': 4, 'blue': 3, 'green': 1}

In [86]:
# key에 'blue'가 있는지 확인하세요.

'blue' in d

True

In [87]:
# mydict의 길이를 출력하세요.
len(d)

3

In [88]:
# 'red'의 값을 출력하세요.
d

{'red': 4, 'blue': 3, 'green': 1}

In [89]:
d['red']

4

In [90]:
# 'red'의 값을 10으로 수정하세요.
d['red'] = 10
d

{'red': 10, 'blue': 3, 'green': 1}

In [91]:
# key값만 출력하세요
d.keys()

dict_keys(['red', 'blue', 'green'])

In [92]:
# value값만 출력하세요
d.values()

dict_values([10, 3, 1])

In [93]:
# key와 value를 튜플로 출력하세요.
d.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [94]:
# key 'blue'요소를 삭제하세요
d.pop('blue')
d

{'red': 10, 'green': 1}

In [95]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
d

{'red': 10, 'green': 1}

In [96]:
d['pink']

KeyError: 'pink'

In [97]:
d.get('pink')

In [98]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
d.setdefault('green',20)

1

In [99]:
d.setdefault('pink',20)

20

In [100]:
d

{'red': 10, 'green': 1, 'pink': 20}

In [102]:
20 in d.values()

True

In [103]:
# key는 'yellow'에 value는 30을 추가하세요.
d['yellow'] = 20
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 20}

In [105]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
d.update(yourdict)
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 20, '파랑': 50, '빨강': 70}