In [1]:
print(hello)

NameError: name 'hello' is not defined

In [2]:
print('hello')

hello

In [3]:
print("hello")

hello

In [4]:
print("""hello""")

hello

In [5]:
print('''hello''')

hello

In [6]:
print('hello', 'world', 10)

hello world 10

In [7]:
a = 10
print('a=',a)

a= 10

In [8]:
print('hello world')

hello world

In [9]:
print('hello \
world')

hello world

In [10]:
print('hello \
world python is \
fun')
# \ + enter => 화면에서만 줄 바꿈. 프로그램은 한 줄로 처리.

hello world python is fun

### 문자열 안에서 '\'의 특수기능
* \' => '를 그대로 출력
* \" => "를 그대로 출력
* \n => 줄바꿈으로 출력
* \t => tab반영 출력

In [12]:
print('hello \'world\'!!')

hello 'world'!!

In [13]:
print('hello 'world'!!')

SyntaxError: invalid syntax (<ipython-input-13-b12bb4d5c981>, line 1)

In [16]:
print("hello 'world'!!")   # ', "를 이용해서 \를 대신할 수 있음

hello 'world'!!

In [17]:
print("hello \"world\"!!")

hello "world"!!

In [18]:
print('hello \n world')

hello
 world

In [19]:
print('hello \tworld!!')

hello 	world!!

### 문자열 - 군집형 데이터 타입(sequential data)
###                : 여러 요소가 모여서 하나의 데이터.
####          요소의 수정, 삭제, 추가가 안 됨.
####         문자열 내에 특정한 값을 넣기 위해 => 특수 형식을 사용 : %, formet

### (Tip) cell 복사 : 붙여넣기 => cell 선택 > c(복사) > v(복사넣기)

In [23]:
name = 'Alice'
score = 95
text = '%s get %d score'

print(text % (name, score))

Alice get 95 score

In [27]:
text1 = 'Alice get 95 score'

print(text1)
print(text1)

Alice get 95 score
Alice get 95 score

In [26]:
name = 'Alice'
score = 95

text2 = '%s get %d score' % (name, score)

print(text2)

Alice get 95 score

In [29]:
name = 'Jane'
score = 85

print(text2)

Jane get 85 score

In [34]:
name = 'Jane'
score = 85

text2 = '{} get {} score' .format(name, score)
print(text2)

Jane get 85 score

In [108]:
name = 'abcd'
score = 1234

text2 = '{} get {} score' .format(name, score)
print(text2)

abcd get 1234 score

In [109]:
name = 'bbb'
score = 12345

text3 = '{} is {}' .format(name, score)
print(text3)

bbb is 12345

In [110]:
text4 = '{} get {} score' .format(name, score)
print(text4)

bbb get 12345 score

## input() - 일부에서 수동으로 값을 입력받을 때.

In [36]:
x = input()
print(x)

5
5

In [42]:
x = input('비밀번호를 입력하세요:')
print('입력하신 비밀번호는:', x)

비밀번호를 입력하세요:1234
입력하신 비밀번호는: 1234

In [113]:
x = input('메뉴를 입력하세요.')
print('오늘의 점심메뉴는 =', x)

메뉴를 입력하세요.김밥
오늘의 점심메뉴는 = 김밥

### 입력하신 비밀번호는 ****입니다.
    * 임의의 값 사이에 넣기

In [115]:
x = input('비밀번호를 입력하세요')
print('입력하신 비밀번호는 {}니다.' .format(x))

비밀번호를 입력하세요1234
입력하신 비밀번호는 1234니다.

### 임의의 정수를 입력받은 후 2배를 해서 출력.

In [59]:
# *주의* input으로 값을 받으면 데이터 타입은 문자열

# 강사답안

x = input('임의의 점수를 입력하세요 :')
num = int(x)*2
print(num)

임의의 점수를 입력하세요 :10
20

In [57]:
x = input()
print((x*2))

10
1010

### 두 개의 임의의 함수를 입력받은 후 두 점수의 합을 출력하세요.

In [105]:
x = int(input('임의의 숫자를 입력하세요. x = '))
y = int(input('임의의 숫자를 입력하세요. y = '))

print(x + y)

임의의 숫자를 입력하세요. x = 10
임의의 숫자를 입력하세요. y = 10
20

In [64]:
# 실습답안
x = input('임의의 점수를 입력하세요 :')
num1 = int(x)

y = input('임의의 점수를 입력하세요 :')
num2 = int(y)

print(num1 + num2)

임의의 점수를 입력하세요 :10
임의의 점수를 입력하세요 :20
30

In [66]:
# 강사답안
x = int(input('임의의 점수를 입력하세요 :'))   # nt함수 사용해서 한번에 int 값으로 받는 것이 효과적
y = int(input('임의의 점수를 입력하세요 :'))

print(x + y)

임의의 점수를 입력하세요 :10
임의의 점수를 입력하세요 :20
30

## python operation
## => '+', '-', '*', '/', '**', '//', '&'

In [68]:
10 + 5

15

In [69]:
10 - 13

-3

In [70]:
2*3

6

In [71]:
2**3

8

In [73]:
10/2    # 파이썬에서 나누기를 하면 float 형식으로 출력

5.0

In [74]:
30//7

4

In [75]:
30%2

0

#### 31&2 => 1, 30&2 => 0
     * 이를 활용해서 짝수. 홀수 구별 활용가능

### 임의 정수를 입력받은 후 짝수인지 홀수인지 판별하시오.

In [77]:
num = int(input('임의의 정수를 입력하세요:'))
num%2

임의의 정수를 입력하세요:21

1

### 자신과의 연산을 간략하게 표현
* a = a + b   =>  a += b
* a = a - b    =>  a -= b
* a = a * b    =>  a *= b
* a = a / b    =>  a /= b
* a = a ** b   =>  a **= b
* a = a // b   =>  a //= b
* a = a % b    =>  a %= b

In [95]:
a = 10

a += b

print(a)
print(b)

30
20

In [96]:
a = 30
b = 10

a -= b

a

20

In [97]:
a = 35
b = 7

a //= b

a

5

In [98]:
a = 3
b = 6

a **= b

a

729

In [99]:
a = 25
b = 3

a &= b

a

1

### 비교연산자(관계연산자)    => True, False
          * >, < , >= , <=, ==, !=

In [79]:
a = 10
b = 15
c = 5

print(a < b)
print(a != c)
print(a == b)

True
True
False

### 물리연산자 => True를 기준으로 한다.
* not : 'True 이면 False로, False 이면 True로 변환
* and(&) : 둘 다 True 인 경우 True
* or(|) : 하나라도 True면 True    **| : shift + \

In [80]:
a = 10; b = 20; c = 5

print(a < b and b > c)
print(a < b & b > c)

True
True

In [82]:
(a < b) & (b > c)

True

In [83]:
(a < b) | (b > c)

True

In [84]:
(a==b) | (b != c)

True

In [85]:
d = True
not d

False

### 기타 내장함수
### abs => 절대값

In [91]:
abs(-10)

10

In [87]:
abs(10)

10

### divmod(x, y) => (x//y, x%y)

In [92]:
divmod(7, 4)

(1, 3)

In [100]:
divmod(25, 3)

(8, 1)

### pow(x, y) => x**y

In [93]:
pow(2, 5)

32

In [101]:
pow(3, 4)

81

In [102]:
3**4

81