In [1]:
import pandas as pd

In [4]:
sal = pd.read_csv('Salaries1.csv')
sal

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,49996,Carl Jacobs Sr,Transit Operator,65612.03,15604.45,733.84,37250.65,81950.32,119200.97,2012,NaN,San Francisco,NaN
49996,49996,49997,Yee Lam,Social Work Supervisor,81284.05,0.00,2084.00,35831.69,83368.05,119199.74,2012,NaN,San Francisco,NaN
49997,49997,49998,Fe V Foronda,Licensed Vocational Nurse,68857.08,16740.17,873.92,32725.45,86471.17,119196.62,2012,NaN,San Francisco,NaN
49998,49998,49999,Alison Schlageter,Administrative Analyst,83710.58,0.00,0.00,35478.91,83710.58,119189.49,2012,NaN,San Francisco,NaN
49999,49999,50000,Nicholas Hancock,Senior Administrative Analyst,83785.84,0.00,0.00,35400.78,83785.84,119186.62,2012,NaN,San Francisco,NaN

##### 1. BasePay 평균은?

In [5]:
sal['BasePay'].mean()

75601.13714620461

##### 2. OvertimePay의 최대값은?

In [6]:
sal['OvertimePay'].max()

245131.88

##### 3. 'JOSEPH DRISCOLL'의 직업은?

In [13]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

##### 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?

In [16]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

##### 5. 연도별 BasePay의 평균금액은?

In [18]:
sal.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

##### 6. 'JobTitle'의 종류는?

In [20]:
len(sal.groupby('JobTitle'))

1697

##### 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?

In [55]:
job_d = {}
Job = sal.groupby('JobTitle')
for i in Job.head(1) :
    print(i)
    #     job_d[i] = len(Job.get_group(i))
# job_d

Unnamed: 0
Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

##### 8. 2013년도에 오직 한 사람만 종사하고 있는 JobTitle은?

In [45]:
year = sal[sal['Year']==2013]

##### 9. 'Chief'라는 직업을 가진 사람의 수는?